---
import { Icon } from "astro-icon/components";
import Card from "@comp/elements/Card.astro";
import NoteCardContent from "./NoteCardContent.astro";
import MdRender from "@comp/elements/MdRender.astro";
interface Props {
  pageId: string;
  title: string;
  createdAt: string;
}
const { pageId, title, createdAt } = Astro.props;
---

<Card useHeading>
  <h1 slot="heading">{title}</h1>
  <p class="my-4">{createdAt}</p>
  <MdRender>
    <NoteCardContent pageId={pageId} server:defer>
      <span slot="fallback" class="flex items-center">
        <Icon
          name="mingcute:loading-line"
          class="animate-spin animate-infinite"
        />
        <p>Loading from Notion API, may be super slow...</p>
      </span>
    </NoteCardContent>
  </MdRender>
</Card>
