---
import { getEntries } from "@libs/notion-client";
import NoteListUI from "./NoteListUI.astro";
import { NOTION_NOTE_DATABASE_ID, NOTION_API_KEY } from "astro:env/server";

const apiKey = NOTION_API_KEY;
const databaseId = NOTION_NOTE_DATABASE_ID;
let pages = null;
let error = null;

try {
  pages = await getEntries(databaseId, {
    apiKey,
    filter: {
      property: "Is Published",
      checkbox: {
        equals: true,
      },
    },
  });
} catch (err) {
  error = err instanceof Error ? err.message : "An error occurred";
  Astro.response.status = 500;
}
---

{
  pages !== null ? (
    <NoteListUI pages={pages} />
  ) : (
    <span class="text-heading">{error}</span>
  )
}
