---
import {
  CompactEntryListYear,
  groupingEntries,
} from "@comp/modules/CompactEntryList";
import type { PageMeta } from "@libs/notion-client";
import NoteCardContent from "./NoteCardContent.astro";
import { DateTime } from "luxon";
import { Icon } from "astro-icon/components";
import NoteLoading from "./NoteLoading.astro";

interface NoteListUIProps {
  loading?: boolean;
  pages?: PageMeta[];
}

type RequiredPages = {
  pages: PageMeta[];
};

type Props =
  | (NoteListUIProps & { loading: true })
  | (NoteListUIProps & RequiredPages & { loading?: false | undefined });

const { pages, loading } = Astro.props;

const groups = loading
  ? [
      {
        year: "2024",
        posts: [1, 2, 3] as unknown as PageMeta[],
      },
      {
        year: "2023",
        posts: [1, 2, 3] as unknown as PageMeta[],
      },
    ]
  : groupingEntries(pages, (page) => new Date(page.createdAt).getFullYear());
---

{
  groups.map((group) => (
    <CompactEntryListYear year={group.year} order={1} animated={false}>
      {group.posts.map((page) => (
        <li class="timeline-dot-item-note-list py-6">
          <div class="h-12 py-2 flex items-center">
            <div class="flex select-none items-center gap-2">
              <div class="p-1 rounded-md bg-primary/30 size-8 flex center">
                <Icon
                  name="mingcute:calendar-line"
                  class="size-full text-primary"
                />
              </div>
              {loading ? (
                <div class="h-6 w-16 skeleton" />
              ) : (
                <span class="font-semibold text-comment opacity-75 text-base">
                  {DateTime.fromISO(page.createdAt).toFormat("MM-dd")}
                </span>
              )}
            </div>
          </div>
          {loading ? (
            <div class="w-full h-24 skeleton flex center p-4">
              <NoteLoading />
            </div>
          ) : (
            <NoteCardContent server:defer pageId={page.id}>
              <div slot="fallback" class="w-full h-24 skeleton flex center p-4">
                <NoteLoading />
              </div>
            </NoteCardContent>
          )}
        </li>
      ))}
    </CompactEntryListYear>
  ))
}
<style is:global>
  .timeline-dot > li.timeline-dot-item-note-list {
    --top-offset: 3rem;
    --left-offset: 1.5rem;
    @apply relative ml-[var(--left-offset)];
    &:first-child {
      @apply pt-0;
      --top-offset: 1.5rem;
    }
    &:last-child {
      @apply pb-0;
    }

    &::after {
      content: "";
      @apply absolute size-2 z-10 rounded-full bg-content-50
        -left-[calc(var(--left-offset)+0.25rem)] top-[calc(var(--top-offset)-0.25rem)]
        outline outline-2 outline-card;
    }
    &::before {
      content: "";
      @apply h-[calc(100%+1rem)] absolute top-1/2 -translate-y-1/2 -left-[calc(var(--left-offset)+1px)] border-l-[2px] pointer-events-none border-content-50 opacity-30 transition;
    }
    &:first-child::before {
      @apply h-[calc(100%+0.5rem-var(--top-offset))] absolute top-[unset] bottom-[calc(-0.5rem)] translate-y-0;
    }
    &:last-child::before {
      @apply h-[calc(0.5rem+var(--top-offset))] top-[calc(-0.5rem)] translate-y-0;
    }
    &:first-child:last-child::before {
      @apply hidden;
    }
  }
</style>
