---
import type { getPageContent } from "@libs/notion-client";
interface Props {
  pageId: string;
}
const { pageId } = Astro.props;

import $selfFetch from "@utils/selfFetch";
const { data: pageContent, error } = await $selfFetch<
  Awaited<ReturnType<typeof getPageContent>>
>(`/api/note/${pageId}`, { origin: new URL(Astro.request.url).origin });
---

{
  pageContent !== null ? (
    <Fragment set:html={pageContent.html} />
  ) : (
    <span class="text-heading">{error}</span>
  )
}
