---
import type { getPageContent } from "@libs/notion-client";
import MdRender from "@comp/elements/MdRender.astro";
import NoteCardStyle from "./NoteCardStyle.astro";
interface Props {
  pageId: string;
}
const { pageId } = Astro.props;

import $selfFetch from "@utils/selfFetch";
const { data: pageContent, error } = await $selfFetch<
  Awaited<ReturnType<typeof getPageContent>>
>(`/api/note/${pageId}`, { origin: new URL(Astro.request.url).origin });
---

{
  pageContent !== null ? (
    <Fragment>
      <MdRender class="notion-prose">
        <Fragment set:html={pageContent.html} />
      </MdRender>
      <NoteCardStyle />
    </Fragment>
  ) : (
    <span class="text-heading">{error}</span>
  )
}
