---
import getNoteContent from "./getContent";
import NoteContent from "./NoteContent.astro";
interface Props {
  pageId: string;
}

const { pageId } = Astro.props;

const { data, error, code } = await getNoteContent(pageId);

if (code !== 200) {
  Astro.response.status = code;
}
---

{
  error === null ? (
    <NoteContent html={data?.html ?? ""} />
  ) : (
    <span class="text-heading">{error}</span>
  )
}
