---
import { GET, type Page } from "../../../pages/api/note";
import NoteCard from "./NoteCard.astro";

let response = await GET(Astro);

const pages = (await response.json()) as Page[];
---

<div class="flex flex-col gap-4">
  {
    pages.map((page) => (
      <NoteCard
        pageId={page.id}
        title={page.title ?? "Untitled"}
        createdAt={page.createdAt}
      />
    ))
  }
</div>
