---
import Card from "@comp/elements/Card.astro";
import NoteLoading from "./NoteLoading.astro";
---

<Card useHeading>
  <h1 slot="heading"><slot name="title">Loading</slot></h1>
  <div class="my-4 text-comment">
    <slot name="meta" />
  </div>

  <slot>
    <NoteLoading />
  </slot>
</Card>
