---
import Card from "@comp/ui/Card/Card.astro";
import type { PageMeta } from "@libs/notion-client";
import NoteContent from "./NoteContent.astro";
import NoteAttr from "./NoteAttr.astro";
import { Icon } from "astro-icon/components";
import CopyrightCard from "@comp/ui/ArticleCard/CopyrightCard.astro";
interface Props {
  pageContent: { meta: PageMeta; html: string };
}
const { pageContent: page } = Astro.props;
---

<div class="flex flex-col gap-4">
  <div class="flex flex-col justify-between gap-4 sm:flex-row">
    <a
      class="flex w-fit shrink-0 bg-card p-3 center shape-card sm:p-4"
      href="/note"
      id="backToList"
    >
      <div class="flex items-center gap-2 font-semibold text-heading">
        <Icon name="mingcute:left-fill" />
        回到列表
      </div>
    </a>
    <Card padding="xs" class="hidden justify-center sm:flex sm:justify-end">
      <NoteAttr page={page.meta} />
    </Card>
  </div>
  <Card headSize="3xl" class:list={["flex flex-col gap-2"]}>
    <NoteAttr page={page.meta} class="sm:hidden" />
    <NoteContent html={page.html} />
  </Card>
  <CopyrightCard />
</div>

<script>
  function backToList(path: string) {
    window.open(path, "_self");
  }
  function addEvent() {
    const button = document.getElementById(
      "backToList",
    ) as HTMLAnchorElement | null;
    const path = button?.href ?? "/note";
    button?.addEventListener("click", () => backToList(path));
  }
  addEventListener("astro:after-swap", addEvent);
</script>
