---
import { getSortedPosts } from "@utils/urlUtils";
import HighlightCard from "@comp/homepage/HighlightCard.astro";
const all = await getSortedPosts();
const highlights = all.filter((post) => post.data.highlight);
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  <h2 class="text-3xl self-center text-center font-serif text-heading">
    <i class="i-mingcute-star-fill text-yellow -translate-y-0.5"></i>
    <span>Highlight Posts</span>
  </h2>
  {highlights.map((highlight) => <HighlightCard post={highlight} />)}
  {
    highlights.length % 2 === 0 && (
      <div class="hidden md:flex items-center justify-center">
        <a class="btn-plain p-2 font-serif text-xl rounded-lg" href="/post/1">
          Article list <i class="i-mingcute-arrow-right-line" />
        </a>
      </div>
    )
  }
</div>
