---
import type { CollectionEntry } from "astro:content";
interface Props {
  post: CollectionEntry<"post">;
}
import { getPostPath } from "@utils/path";
import PostAttr from "@comp/PostAttr.astro";
const { post } = Astro.props;
import Card from "@comp/base/Card.astro";
---

<Card
  class=`flex flex-col justify-between gap-4 p-4 lg:px-8 lg:py-6 
    hover:-translate-y-0.5 transition`
>
  <a
    href={getPostPath(post)}
    class="text-heading text-xl font-medium transition-colors
     hover:text-primary active:text-active"
  >
    <h2>{post.data.title}</h2>
  </a>
  <PostAttr post={post} />
</Card>
