---
import { getSortedPosts } from "@utils/content";
import HighlightCard from "@comp/homepage/HighlightCard.astro";
import { path } from "@config";
import { Icon } from "astro-icon/components";
const posts = await getSortedPosts();
const recents = posts.slice(0, 5);
---

<div class="flex flex-col space-y-4">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <h2 class="text-3xl self-center text-center font-serif text-heading">
      <Icon
      name="mingcute:calendar-fill"
      class="inline text-blue-500 -translate-y-1"
    />
      <span>Recent Posts</span>
    </h2>
    {recents.map((recent) => <HighlightCard post={recent} />)}
  </div>
  <a
    class="btn-plain mx-5 p-2
      font-serif text-center text-xl rounded-lg col-span-2"
    href={path.postList}
  >
    More
    <Icon
      name="mingcute:arrow-right-line"
      class="inline -translate-y-[0.125rem]"
    />
  </a>
</div>
