---
import Card from "../base/Card.astro";
import { Image } from "astro:assets";
import avatar from "@assets/avatar.jpeg";

interface Social {
  name: string;
  icon: string;
  link: string;
  color: string;
}

export const socials: Social[] = [
  {
    name: "GitHub",
    icon: "i-mingcute-github-fill",
    link: "https://github.com/yy4382",
    color: "text-black dark:text-white",
  },
  {
    name: "Telegram",
    icon: "i-mingcute-telegram-fill",
    link: "https://t.me/yunfichannel",
    color: "text-blue-500",
  },
  {
    name: "Twitter",
    icon: "i-mingcute-twitter-fill",
    link: "https://twitter.com/yunfini",
    color: "text-blue-400",
  },
  {
    name: "Email",
    icon: "i-mingcute-mail-send-fill",
    link: "mailto:i@yfi.moe",
    color: "text-red-400",
  },
];
---

<div
  class="flex flex-col md:flex-row space-y-8 md:space-y-0 pt-12 md:pt-0
    min-h-[calc(100vh-5rem)] items-center relative"
>
  <Card class="flex flex-col w-full justify-between pl-8 py-6 h-1/2">
    <h1
      class="w-fit text-5xl font-bold text-heading min-h-16 flex items-end
          md:hover:text-6xl md:hover:text-primary
          transition-[font-size,color] duration-300"
    >
      Yunfi
    </h1>
    <p class="text-content mt-4">
      Writing something here would make the layout look better,<br />
      but I really don't know what to write...
    </p>

    <div class="flex flex-wrap mt-8">
      {
        socials.map((social) => (
          <div class="min-w-32">
            <a
              href={social.link}
              target="_blank"
              class="flex items-center gap-2 w-fit my-2 group
              transition-colors duration-500 ease-[cubic-bezier(0,1,0.5,1)]"
            >
              <i
                class:list={[
                  social.icon,
                  social.color,
                  "text-[1.125rem] -mr-1",
                ]}
              />
              <span
                class="font-semibold relative
                text-content hover:text-primary
                before:(content-[''] absolute bottom-0 left-0 right-0 h-2
                bg-portage-200/50 group-hover:(h-1 bg-portage-300/70)
                transition-[height,background-color]
                ease-[cubic-bezier(0,1,0.5,1)] duration-500)"
              >
                {social.name}
              </span>
            </a>
          </div>
        ))
      }
    </div>
  </Card>
  <div class="w-full md:w-1/2">
    <div
      class="ring-4 ring-portage-400 ring-offset-6
        ring-offset-gray-100 dark:ring-offset-gray-950
        rounded-full w-52 h-52 overflow-hidden mx-auto"
    >
      <Image src={avatar} alt="avatar" />
    </div>
  </div>
  <i
    class="absolute bottom-1 left-[calc(50%-0.75rem)]
    i-mingcute-down-line text-2xl text-content
    animate-bounce"
  >
  </i>
</div>

<style>
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-0.5rem);
    }
  }
  .animate-bounce {
    animation: bounce 1s ease-in-out infinite;
  }
</style>
