---
import type { PageMeta } from "@libs/notion-client";
import { Icon } from "astro-icon/components";
import { DateTime } from "luxon";
import { TooltipTimeReact as TooltipTime } from "@comp/ui/Tooltip";

type Props = { page: PageMeta; class?: string };

const { page, class: className } = Astro.props;
---

<div class:list={["flex items-center gap-5", className]}>
  <div class="flex shrink-0 select-none items-center gap-2">
    <div class="flex size-8 rounded-md bg-primary/30 p-1 center">
      <Icon name="mingcute:calendar-line" class="size-full text-primary" />
    </div>
    <TooltipTime
      postTime={DateTime.fromISO(page.createdAt).toFormat("yyyy-MM-dd")}
      updatedTime={DateTime.fromISO(page.updatedAt).toFormat("yyyy-MM-dd")}
      client:load
    >
      <span class="text-base font-semibold text-comment">
        {DateTime.fromISO(page.createdAt).toFormat("MM-dd")}
      </span>
    </TooltipTime>
  </div>
  <div class="flex min-w-0 select-none items-center gap-2">
    <div class="flex size-8 shrink-0 rounded-md bg-primary/30 p-1 center">
      <Icon name="mingcute:hashtag-line" class="size-full text-primary" />
    </div>

    <span class="truncate text-base font-semibold text-comment">
      {page.tags.join(" | ")}
    </span>
  </div>
</div>
