[submodule "lib/rehype-image-optim"]
	path = lib/rehype-image-optim
	url = https://github.com/yy4382/rehype-image-optim.git
[submodule "lib/rehype-extended-links"]
	path = lib/rehype-extended-links
	url = https://github.com/yy4382/rehype-extended-links.git
