---
import Card from "@comp/base/Card.astro";
import PostAttr from "@comp/PostAttr.astro";
import MdRender from "@comp/MdRender.astro";
import type { CollectionEntry } from "astro:content";
interface Props {
  entry: CollectionEntry<"post"> | CollectionEntry<"page">;
}
const { entry } = Astro.props;
---

<Card class="px-4 py-2 lg:p-8 lg:py-5 space-y-4">
  <h1 class="card-heading">
    {entry.data.title}
  </h1>
  <div>
    <PostAttr post={entry as any} />
  </div>
  <MdRender>
    <slot />
  </MdRender>
</Card>
