---
import Card from "@comp/base/Card.astro";
import PostAttr from "@comp/PostAttr.astro";
import MdRender from "@comp/MdRender.astro";
interface Props {
  entry: CollectionEntry<"post"> | CollectionEntry<"page">;
}
const { entry } = Astro.props;
---

<div transition:name="post-card">
  <Card class="space-y-4" useHeading>
    <h1 slot="heading" transition:name="post-heading">
      {entry.data.title}
    </h1>
    {
      entry.data.date && (
        <div transition:name="post-attr">
          <PostAttr post={entry as any} />
        </div>
      )
    }
    <MdRender>
      <slot />
    </MdRender>
  </Card>
</div>
