---
import Card from "@comp/ui/Card/Card.astro";
import { Icon } from "astro-icon/components";
import { siteConfig } from "@configs/site";
---

<Card padding="xs">
  <div class="flex w-full">
    <div
      class="flex flex-shrink flex-grow flex-col items-center md:items-start"
    >
      <span class="inline-flex items-center gap-x-1 text-sm text-comment">
        <span class="inline-flex center gap-0.5"
          ><Icon name="mingcute:copyright-line" /> 2023-2024
          <span
            ><a href={Astro.site} class="text-primary">{siteConfig.title}</a
            >.</span
          ></span
        >
        <span class="opacity-70">|</span>
        <a
          href="https://github.com/yy4382/yfi.moe"
          class="inline-flex center gap-0.5"
        >
          <Icon name="mingcute:github-line" />Source Code</a
        >
      </span>
      <span class="inline-flex items-center gap-1 text-sm text-comment">
        <span class="hidden md:inline">For Robots: </span>
        <a href="/feed.xml" class="inline-flex center gap-0.5">
          <Icon name="mingcute:rss-2-line" />RSS</a
        >
        <span class="opacity-70">|</span>
        <a href="/sitemap-index.xml" class="inline-flex center gap-0.5">
          <Icon name="mingcute:map-line" />Site Map</a
        >
      </span>
      <span class="text-sm text-comment">
        Powered by
        <a href="https://astro.build" class="text-primary">Astro</a>. See all
        <a href="/credits" class="text-primary">Credits</a>.
      </span>
    </div>
    <div class="hidden center md:flex">
      <img
        src="/icon-96.png"
        alt="logo"
        class="rounded-lg"
        width="48"
        height="48"
      />
    </div>
  </div>
</Card>
