---
import { Icon } from "astro-icon/components";
import { siteConfig } from "@configs/site";
---

<div
  class="main-container flex flex-col-reverse items-center justify-between gap-6 px-6 py-4 md:flex-row"
>
  <a href="/" class="flex gap-4 text-2xl font-bold">
    <img
      src="/icon-96.png"
      alt="logo"
      class="h-8 w-8 rounded-lg"
      width={32}
      height={32}
    />
    Yunfi
  </a>
  <div
    class="flex w-full flex-shrink flex-grow flex-col items-start gap-8 md:w-[unset] md:items-end md:gap-2"
  >
    <ul
      class="flex flex-col items-start gap-x-6 gap-y-1 text-comment lg:flex-row lg:items-end"
    >
      <li>
        <span class="inline-flex items-center font-medium text-content"
          >关于<Icon name="mingcute:right-line" size={16} /></span
        >
        <span class="inline-flex gap-2">
          <a href="/about">关于我</a>
          <a href="/site-history">关于本站</a>
          <a href="https://github.com/yy4382/yfi.moe">本站源码</a>
        </span>
      </li>
      <li>
        <span class="inline-flex items-center font-medium text-content"
          >联系<Icon name="mingcute:right-line" size={16} /></span
        >
        <span class="inline-flex gap-2">
          <button onclick="copyEmailLink()">发邮件</button>
          <a href="https://t.me/YunfiDiscuz">Telegram</a>
          <a href="https://github.com/yy4382">GitHub</a>
        </span>
      </li>
    </ul>
    <div
      class="flex flex-col items-center self-center text-sm md:items-end md:self-end"
    >
      <span class="inline-flex items-center gap-x-1 text-comment">
        <span class="inline-flex items-center gap-0.5"
          ><Icon name="mingcute:copyright-line" /> 2023-2024
          <span
            ><a href={Astro.site} class="underline">{siteConfig.title}</a
            >.</span
          ></span
        >
        <span class="opacity-70">|</span>
        <a href="/feed.xml" class="inline-flex items-center gap-0.5">
          <Icon name="mingcute:rss-2-line" />RSS</a
        >
        <span class="opacity-70">|</span>
        <a href="/sitemap-index.xml" class="inline-flex items-center gap-0.5">
          <Icon name="mingcute:map-line" />Site Map</a
        >
      </span>
      <span class="text-comment">
        Powered by
        <a href="https://astro.build" class="underline">Astro</a>. See all
        <a href="/credits" class="underline">Credits</a>.
      </span>
    </div>
  </div>
</div>

<script is:inline>
  function copyEmailLink() {
    const email = "";
    try {
      navigator.clipboard.writeText(email);
      alert("Email address copied to clipboard");
    } catch (err) {
      console.error("Failed to copy: ", err);
      alert("Failed to copy email address");
    }
  }
</script>
