---
import type { CollectionEntry } from "astro:content";
import { getPostPath } from "@utils/path";
import { Icon } from "astro-icon/components";
interface Props {
  prev: CollectionEntry<"post">;
  next: CollectionEntry<"post">;
}
const { prev, next } = Astro.props;
const prev1 = prev
  ? {
      url: getPostPath(prev),
      title: prev.data.title,
    }
  : {
      url: "/",
      title: "Home",
    };
const next1 = next
  ? {
      url: getPostPath(next),
      title: next.data.title,
    }
  : {
      url: "/",
      title: "Home",
    };
---

<div
  class="flex w-full flex-col justify-between gap-4 overflow-hidden md:flex-row"
>
  <a href={prev1.url} class="w-full overflow-hidden font-bold active:scale-95">
    {
      (
        <div class="flex h-10 w-full max-w-full items-center justify-start gap-4 bg-card px-4 shape-card">
          <Icon name="mingcute:left-fill" size={32} class="text-primary-ui" />
          <div class="max-w-[calc(100%_-_3rem)] overflow-hidden text-ellipsis whitespace-nowrap text-heading transition">
            {prev1.title}
          </div>
        </div>
      )
    }
  </a>

  <a href={next1.url} class="w-full overflow-hidden font-bold active:scale-95">
    {
      (
        <div class="flex h-10 w-full max-w-full items-center justify-end gap-4 bg-card px-4 shape-card">
          <div class="max-w-[calc(100%_-_3rem)] overflow-hidden text-ellipsis whitespace-nowrap text-heading transition">
            {next1.title}
          </div>
          <Icon name="mingcute:right-fill" size={32} class="text-primary-ui" />
        </div>
      )
    }
  </a>
</div>
