@tailwind base;

@layer base {
  :root {
    /* set via js */
    /* --primary-hue: 280; */

    --primary-hue-gradient: calc(
      var(--primary-hue) + 20
    ); /* Oh no, Safari doesn't support calc() in oklch(from) */

    --primary: var(--pri-400);

    --bg-page: theme("colors.portage.100");
    --bg-card: 100 0 var(--primary-hue);
    --bg-popover: theme("colors.gray.50");

    --content-50: theme("colors.gray.600");
    --content-100: theme("colors.gray.700");
    --content-200: theme("colors.gray.900");
    --content-primary: var(--pri-600);

    --link-underline-normal: theme("colors.gray.900 / 40%");
    --link-underline-hover: theme("colors.gray.900 / 60%");
    --link-underline-active: theme("colors.gray.900 / 80%");
  }

  html.dark {
    --primary: var(--pri-300);

    --bg-page: oklch(15% 0.02 var(--primary-hue));
    --bg-card: 25% 0.025 var(--primary-hue);

    --bg-popover: oklch(30% 0.025 var(--primary-hue));

    --content-50: theme("colors.gray.400");
    --content-100: theme("colors.gray.300");
    --content-200: theme("colors.gray.100");
    --content-primary: var(--pri-300);

    --link-underline-normal: theme("colors.gray.100 / 50%");
    --link-underline-hover: theme("colors.gray.100 / 60%");
    --link-underline-active: theme("colors.gray.100 / 80%");
  }
}
