@layer theme;

@layer theme {
  :root {
    --primary-hue: 280;

    --primary: var(--color-portage-400);

    --bg-card: oklch(100 0 var(--primary-hue));

    --content-50: var(--color-gray-600);
    --content-100: var(--color-gray-700);
    --content-200: var(--color-gray-900);
    --content-primary: var(--color-portage-600);

    --container-border: var(--color-gray-300);

    @variant dark {
      --primary: var(--color-portage-300);

      --bg-card: oklch(25% 0.025 var(--primary-hue));

      --content-50: var(--color-gray-400);
      --content-100: var(--color-gray-300);
      --content-200: var(--color-gray-100);
      --content-primary: var(--color-portage-300);

      --container-border: var(--color-gray-700);
    }
  }
}
