---
import * as stylex from "@stylexjs/stylex";
import { spacing } from "@repo/design-tokens/tokens.stylex";
import { layout } from "@/styles/shared.stylex";

interface Props {
  style?: stylex.StyleXStyles;
  contentStyle?: stylex.StyleXStyles;
  padding?: "sm" | "article" | "postList";
  bg?: "grid";
}

const styles = stylex.create({
  container: { containerType: "inline-size", height: "100%" },
  paddingSm: { paddingBlock: spacing.lg, paddingInline: spacing.xl },
  paddingArticle: { paddingBlock: "4.5rem", paddingInline: spacing.lg },
  paddingPostList: {
    paddingInline: spacing.xl,
    "@container (min-width: 24rem)": { paddingInline: "2.5rem" },
    "@container (min-width: 56rem)": { paddingInline: "4rem" },
    "@container (min-width: 72rem)": { paddingInline: "8rem" },
  },
});

const { style, contentStyle, padding, bg } = Astro.props;
---

<section {...stylex.attrs(layout.sectionBorder, style)}>
  <div {...stylex.attrs(layout.mainContainer, styles.container)}>
    <div
      {...stylex.attrs(
        padding === "sm" && styles.paddingSm,
        padding === "article" && styles.paddingArticle,
        padding === "postList" && styles.paddingPostList,
        bg === "grid" && layout.gridBackground,
        contentStyle,
      )}
    >
      <slot />
    </div>
  </div>
</section>
