---
import { cn } from "@utils/cn";
interface Props {
  class?: string;
  style?: string;
  classOuter?: string;
  styleOuter?: string;
}

const { class: className, style, classOuter, styleOuter } = Astro.props;
---

<section class={cn("border-b border-container", classOuter)} style={styleOuter}>
  <div class={cn("main-container px-6 py-4", className)} style={style}>
    <slot />
  </div>
</section>
