---
import { cn } from "@utils/cn";
interface Props {
  class?: string;
  style?: string;
  classOuter?: string;
  styleOuter?: string;
}

const { class: className, style, classOuter, styleOuter } = Astro.props;
export const outerClass = "border-b border-container";
export const innerClass = "main-container px-6 py-4";
---

<section class={cn(outerClass, classOuter)} style={styleOuter}>
  <div class={cn(innerClass, className)} style={style}>
    <slot />
  </div>
</section>
