---
import Navbar from "@comp/elements/Navbar.astro";
import Footer from "@comp/elements/Footer.astro";
import Card from "@comp/ui/Card/Card.astro";
---

<body
  class="m-0 overflow-x-hidden bg-fixed p-0 text-content dark:bg-gray-900"
  style="text-rendering: optimizeLegibility;"
>
  <div class="grid min-h-[100lvh] grid-rows-[auto_auto_1fr_auto]">
    <Navbar />
    <div class="w-full">
      <slot />
    </div>
    <Card class="bg-grid h-full px-0 py-0" classOuter="min-h-12" />
    <Footer />
  </div>
</body>
