---
import { type SEOProps, SEO } from "astro-seo";
import runtimeEnv from "@utils/runtimeEnv";
import { siteConfig } from "@configs/site";

import "remark-github-alerts/styles/github-base.css";
import "remark-github-alerts/styles/github-colors-light.css";
import "remark-github-alerts/styles/github-colors-dark-class.css";
import "@styles/base.css";

import { ClientRouter } from "astro:transitions";
import Favicon from "@comp/modules/head/Favicon.astro";
import LoadingIndicator from "astro-loading-indicator/component";
import TagManagers from "@comp/modules/head/TagManagers.astro";
import Navbar from "@comp/elements/Navbar.astro";
import Footer from "@comp/elements/Footer.astro";
import Card from "@comp/ui/Card/Card.astro";

interface Props {
  seoConfig: SEOProps;
  stopTrack?: boolean;
}

const { seoConfig, stopTrack } = Astro.props;
---

<html lang="zh-Hans">
  <head>
    <meta charset="utf-8" />
    <Favicon />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- <script src="https://unpkg.com/react-scan/dist/auto.global.js"></script> -->
    {runtimeEnv() === "production" && !stopTrack && <TagManagers />}
    <SEO
      {...seoConfig}
      titleTemplate={"%s - " + siteConfig.title}
      titleDefault={siteConfig.title}
      canonical={Astro.url.href.replace(/\/$/, "")}
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ClientRouter fallback="swap" />
    <LoadingIndicator color="hsl(236, 100%, 81%)" />
  </head>
  <body
    class="m-0 overflow-x-hidden bg-bg bg-fixed p-0 text-content"
    style="text-rendering: optimizeLegibility;"
  >
    <div class="grid min-h-[100lvh] grid-rows-[auto_auto_1fr_auto]">
      <Navbar />
      <div class="w-full">
        <slot />
      </div>
      <Card class="h-full min-h-12" bg="grid" />
      <Footer />
    </div>
  </body>
</html>
