---
import Section from "@/components/ui/section.astro";
import { Comment as CommentComponent } from "./comment";
import * as stylex from "@stylexjs/stylex";

const styles = stylex.create({
  content: {
    marginInline: "auto",
    maxWidth: "42rem",
    minHeight: "18rem",
    paddingBlock: "3rem",
  },
});

let normalizedPathname = Astro.url.pathname;
if (normalizedPathname.endsWith("/") && normalizedPathname !== "/") {
  normalizedPathname = normalizedPathname.slice(0, -1);
}
---

<Section padding="article" contentStyle={styles.content}>
  <CommentComponent pathname={normalizedPathname} client:visible />
</Section>
