@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Buttons */
  .btn-regular-base {
    @apply bg-btn-regular-bg-light text-btn-regular-text-light transition-all
     duration-200 ease-in-out
      dark:bg-btn-regular-bg-dark dark:text-btn-regular-text-dark;
  }
  .btn-regular {
    @apply btn-regular-base
      hover:bg-btn-regular-bg-light-hover active:bg-btn-regular-bg-light-active
      dark:hover:bg-btn-regular-bg-dark-hover dark:active:bg-btn-regular-bg-dark-active;
  }

  .btn-card-base {
    @apply bg-card text-black/75 transition 
      dark:bg-card-dark dark:text-white/75;
  }
  .btn-card {
    @apply btn-card-base 
    hover:bg-btn-card-bg-light-hover active:bg-btn-card-bg-light-active 
    dark:hover:bg-btn-card-bg-dark-hover dark:active:bg-btn-card-bg-dark-active;
  }

  .btn-plain-base {
    @apply bg-none text-black/75 transition-all duration-200
      ease-[cubic-bezier(0.5,0,0,1)] hover:text-primary
      dark:text-white/75 dark:hover:text-primary-dark;
  }
  .btn-plain {
    @apply btn-plain-base
      hover:bg-btn-plain-bg-light-hover active:bg-btn-plain-bg-light-active
      dark:hover:bg-btn-plain-bg-dark-hover dark:active:bg-btn-plain-bg-dark-active;
  }

  .copy-code {
    @apply btn-regular absolute right-1 top-1 !rounded-lg px-2 py-1 text-xs;
  }
  /* Markdown */
  .custom-md {
    @apply prose dark:prose-invert;
  }

  .custom-md .wrapped-link-container {
    @apply inline;
  }
  .custom-md .wrapped-link-container > span {
    @apply inline-flex;
  }
  .custom-md .rh-pre-content {
    @apply mr-0.5;
  }

  .custom-md .rh-post-content > svg {
    @apply ml-0.5;
  }
  .custom-md .wrapped-link-container > span > svg {
    @apply inline h-[1em] w-[1em] translate-y-[0.15em];
  }

  .custom-md a {
    @apply bg-gradient-to-r from-violet-200/80 to-violet-200/80
    bg-[length:100%] bg-[left_0.6em]
    bg-no-repeat font-medium
    text-current no-underline transition-[background-position] duration-500
    ease-[cubic-bezier(0,1,0.5,1)] hover:bg-[left_0.85em] dark:from-violet-700/80
    dark:to-violet-700/80;
  }

  .custom-md code {
    @apply btn-regular-base overflow-hidden rounded-md px-1 py-[0.125rem] font-mono before:content-none after:content-none;
  }
  .custom-md pre {
    @apply rounded-md bg-codeblock px-5 dark:bg-codeblock-dark !important;
  }
  .my-bg-none {
    background: none;
  }
  .custom-md pre code {
    @apply my-bg-none dark:my-bg-none p-0 text-sm text-[unset] selection:bg-codeblock-sel;
  }
  .custom-md ul li,
  .custom-md ol li {
    @apply marker:text-primary dark:marker:text-primary-dark;
  }
  .custom-md blockquote {
    @apply relative border-l-transparent font-normal not-italic before:absolute before:-left-1 before:block before:h-full before:w-1 before:rounded-[1rem] before:bg-btn-regular-bg-light before:transition-[background_0.15s_ease-in-out] before:content-[''] before:dark:bg-btn-regular-bg-dark;
  }
  .custom-md blockquote p {
    @apply before:content-none after:content-none;
  }
  .custom-md img {
    @apply rounded-xl;
  }
  .custom-md hr {
    @apply border-dashed border-black/20 dark:border-white/20;
  }
  .custom-md iframe {
    @apply mx-auto max-w-full rounded-xl;
  }
  .card-desc {
    @apply max-w-full leading-normal;
  }
  .card-desc h1,
  .card-desc h2,
  .card-desc h3,
  .card-desc h4,
  .card-desc h5,
  .card-desc h6 {
    @apply my-0 text-xl font-normal;
  }
  .card-desc p,
  .card-desc ul,
  .card-desc ol,
  .card-desc blockquote,
  .card-desc a,
  .card-desc hr,
  .card-desc pre,
  .card-desc li {
    @apply my-0;
  }

  .card-color {
    @apply bg-card shadow-lg dark:bg-card-dark;
  }
  .card-base {
    @apply card-color rounded-lg p-4 lg:p-8;
  }
  .card-heading {
    @apply relative text-wrap text-2xl font-[450] tracking-tight text-black/90 transition before:absolute
    before:-left-4 before:top-[0.375rem] before:hidden before:h-5
    before:w-1 before:rounded-md before:bg-primary lg:before:block dark:text-white/90;
  }
}
.markdown-alert {
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  color: inherit;
  border-left: 0.25em solid #888;
}

.markdown-alert > :first-child {
  margin-top: 0;
}

.markdown-alert > :last-child {
  margin-bottom: 0;
}

.markdown-alert .markdown-alert-title {
  display: flex;
  font-weight: 500;
  align-items: center;
  line-height: 1;
}

.markdown-alert .markdown-alert-title .octicon {
  margin-right: 0.5rem;
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}

.markdown-alert.markdown-alert-note {
  border-left-color: var(--color-note);
}

.markdown-alert.markdown-alert-note .markdown-alert-title {
  color: var(--color-note);
}

.markdown-alert.markdown-alert-important {
  border-left-color: var(--color-important);
}

.markdown-alert.markdown-alert-important .markdown-alert-title {
  color: var(--color-important);
}

.markdown-alert.markdown-alert-warning {
  border-left-color: var(--color-warning);
}

.markdown-alert.markdown-alert-warning .markdown-alert-title {
  color: var(--color-warning);
}

.markdown-alert.markdown-alert-tip {
  border-left-color: var(--color-tip);
}

.markdown-alert.markdown-alert-tip .markdown-alert-title {
  color: var(--color-tip);
}

.markdown-alert.markdown-alert-caution {
  border-left-color: var(--color-caution);
}

.markdown-alert.markdown-alert-caution .markdown-alert-title {
  color: var(--color-caution);
}

.dark {
  --color-note: #2f81f7;
  --color-tip: #3fb950;
  --color-warning: #d29922;
  --color-severe: #db6d28;
  --color-caution: #f85149;
  --color-important: #a371f7;
}

:root {
  --color-note: #0969da;
  --color-tip: #1a7f37;
  --color-warning: #9a6700;
  --color-severe: #bc4c00;
  --color-caution: #d1242f;
  --color-important: #8250df;
}
