@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Buttons */
  .btn-regular-base {
    @apply bg-btn-regular-bg-light dark:bg-btn-regular-bg-dark
      text-btn-regular-text-light dark:text-btn-regular-text-dark;
  }
  .btn-regular {
    @apply btn-regular-base
      hover:bg-btn-regular-bg-light-hover dark:hover:bg-btn-regular-bg-dark-hover
      active:bg-btn-regular-bg-light-active dark:active:bg-btn-regular-bg-dark-active;
  }

  .btn-card-base {
    @apply transition bg-card dark:bg-card-dark 
      text-black/75 dark:text-white/75;
  }
  .btn-card {
    @apply btn-card-base 
    hover:bg-btn-card-bg-light-hover dark:hover:bg-btn-card-bg-dark-hover 
    active:bg-btn-card-bg-light-active dark:active:bg-btn-card-bg-dark-active;
  }

  .btn-plain-base {
    @apply bg-none
      text-black/75 dark:text-white/75
      hover:text-primary dark:hover:text-primary-dark;
  }
  .btn-plain {
    @apply btn-plain-base
      hover:bg-btn-plain-bg-light-hover dark:hover:bg-btn-plain-bg-dark-hover
      active:bg-btn-plain-bg-light-active dark:active:bg-btn-plain-bg-dark-active;
  }

  /* Markdown */
  .custom-md {
    @apply prose dark:prose-invert;
  }

  .custom-md .wrapped-link-container {
    @apply inline;
  }
  .custom-md .wrapped-link-container > span {
    @apply inline-flex;
  }
  .custom-md .rh-pre-content {
    @apply mr-0.5;
  }

  .custom-md .rh-post-content > svg {
    @apply ml-0.5;
  }
  .custom-md .wrapped-link-container > span > svg {
    @apply inline h-[1em] w-[1em] translate-y-[0.15em];
  }

  .custom-md a {
    @apply no-underline font-medium text-current relative
      before:content-[''] before:absolute 
      before:-bottom-0.5 before:left-0 before:right-0 
      before:h-2 before:hover:h-[0.2rem]
      before:bg-link/30 before:hover:bg-link
      before:dark:bg-link-dark/30 before:dark:hover:bg-link-dark
      before:transition-[height,background-color]
      before:ease-[cubic-bezier(0,1,0.5,1)] before:duration-500;
  }

  .custom-md code {
    @apply font-mono px-1 py-[0.125rem] rounded-md overflow-hidden before:content-none after:content-none btn-regular-base;
  }
  .custom-md pre {
    @apply bg-codeblock dark:bg-codeblock-dark rounded-md px-5 !important;
  }
  .my-bg-none {
    background: none;
  }
  .custom-md pre code {
    @apply text-[unset] text-sm p-0 selection:bg-codeblock-sel my-bg-none dark:my-bg-none;
  }
  .custom-md ul li,
  .custom-md ol li {
    @apply marker:text-primary dark:marker:text-primary-dark;
  }
  .custom-md blockquote {
    @apply not-italic font-normal relative border-l-transparent before:content-[''] before:absolute before:-left-1 before:block before:transition-[background_0.15s_ease-in-out] before:bg-btn-regular-bg-light before:dark:bg-btn-regular-bg-dark before:h-full before:w-1 before:rounded-[1rem];
  }
  .custom-md blockquote p {
    @apply before:content-none after:content-none;
  }
  .custom-md img {
    @apply rounded-xl;
  }
  .custom-md hr {
    @apply border-black/20 dark:border-white/20 border-dashed;
  }
  .custom-md iframe {
    @apply rounded-xl mx-auto max-w-full;
  }
  .card-desc {
    @apply leading-normal max-w-full;
  }
  .card-desc h1,
  .card-desc h2,
  .card-desc h3,
  .card-desc h4,
  .card-desc h5,
  .card-desc h6 {
    @apply my-0 text-xl font-normal;
  }
  .card-desc p,
  .card-desc ul,
  .card-desc ol,
  .card-desc blockquote,
  .card-desc a,
  .card-desc hr,
  .card-desc pre,
  .card-desc li {
    @apply my-0;
  }

  .card-color {
    @apply bg-card dark:bg-card-dark shadow-lg;
  }
  .card-base {
    @apply card-color p-4 lg:p-8 rounded-lg;
  }
  .card-heading {
    @apply transition text-2xl font-[450] tracking-tight text-black/90 dark:text-white/90 text-wrap relative
    before:w-1 before:h-5 before:rounded-md before:bg-primary
    before:absolute before:top-[0.375rem] before:-left-4 before:hidden lg:before:block;
  }
}
.markdown-alert {
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  color: inherit;
  border-left: 0.25em solid #888;
}

.markdown-alert > :first-child {
  margin-top: 0;
}

.markdown-alert > :last-child {
  margin-bottom: 0;
}

.markdown-alert .markdown-alert-title {
  display: flex;
  font-weight: 500;
  align-items: center;
  line-height: 1;
}

.markdown-alert .markdown-alert-title .octicon {
  margin-right: 0.5rem;
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}

.markdown-alert.markdown-alert-note {
  border-left-color: var(--color-note);
}

.markdown-alert.markdown-alert-note .markdown-alert-title {
  color: var(--color-note);
}

.markdown-alert.markdown-alert-important {
  border-left-color: var(--color-important);
}

.markdown-alert.markdown-alert-important .markdown-alert-title {
  color: var(--color-important);
}

.markdown-alert.markdown-alert-warning {
  border-left-color: var(--color-warning);
}

.markdown-alert.markdown-alert-warning .markdown-alert-title {
  color: var(--color-warning);
}

.markdown-alert.markdown-alert-tip {
  border-left-color: var(--color-tip);
}

.markdown-alert.markdown-alert-tip .markdown-alert-title {
  color: var(--color-tip);
}

.markdown-alert.markdown-alert-caution {
  border-left-color: var(--color-caution);
}

.markdown-alert.markdown-alert-caution .markdown-alert-title {
  color: var(--color-caution);
}

.dark {
  --color-note: #2f81f7;
  --color-tip: #3fb950;
  --color-warning: #d29922;
  --color-severe: #db6d28;
  --color-caution: #f85149;
  --color-important: #a371f7;
}

:root {
  --color-note: #0969da;
  --color-tip: #1a7f37;
  --color-warning: #9a6700;
  --color-severe: #bc4c00;
  --color-caution: #d1242f;
  --color-important: #8250df;
}
