@tailwind components;
:root {
  --btn-regular-bg-hover: oklch(0.9 0.05 var(--hue));
  --btn-regular-bg-hover-d: oklch(0.38 0.04 var(--hue));
  --btn-regular-bg-active: oklch(0.85 0.08 var(--hue));
  --btn-regular-bg-active-d: oklch(0.43 0.045 var(--hue));

  --btn-card-bg-hover: oklch(0.98 0.005 var(--hue));
  --btn-card-bg-hover-d: oklch(0.3 0.03 var(--hue));
  --btn-card-bg-active: oklch(0.9 0.03 var(--hue));
  --btn-card-bg-active-d: oklch(0.35 0.035 var(--hue));
}
@layer components {
  .btn-regular-base {
    @apply transition bg-btn_bg dark:bg-btn_bg_d  text-btn_c dark:text-btn_c_d;
  }
  .btn-regular {
    @apply btn-regular-base hover:bg-[--btn-regular-bg-hover] dark:hover:bg-[--btn-regular-bg-hover-d] active:bg-[--btn-regular-bg-active] dark:active:bg-[--btn-regular-bg-active-d];
  }

  .btn-card-base {
    @apply transition bg-card_bg dark:bg-card_bg_d text-black/75 dark:text-white/75;
  }
  .btn-card {
    @apply btn-card-base hover:bg-[--btn-card-bg-hover] dark:hover:bg-[--btn-card-bg-hover-d] active:bg-[--btn-card-bg-active] dark:active:bg-[--btn-card-bg-active-d];
  }

  .btn-plain-base {
    @apply transition text-black/75 dark:text-white/75 hover:text-primary dark:hover:text-primary_d bg-none;
  }
  .btn-plain {
    @apply btn-plain-base hover:bg-btn_plain_h dark:hover:bg-btn_plain_h_d active:bg-btn_plain_a dark:active:bg-btn_plain_a_d;
  }
}
