---
import { renderDesc } from "@utils/markdown";
import { getPostPath } from "@utils/path";
import type { CollectionEntry } from "astro:content";
import PostAttr from "../ArticleCard/PostAttr.astro";
import { cn } from "@utils/cn";
import type { ClassValue } from "clsx";

type Props = {
  class?: ClassValue;
  post: CollectionEntry<"post">;
};
const { post, class: className } = Astro.props;

let desc = "";
if (post.data.description === undefined) {
  desc = await renderDesc(post.body ?? "");
} else {
  desc = "<p>" + post.data.description + "</p>" || "";
}
---

<div
  class={cn("@container main-container border-b border-container", className)}
>
  <div class="post-list-padding py-8 @4xl:py-12">
    <a href={getPostPath(post)}>
      <h2
        class="mb-2 text-lg font-bold transition-colors hover:text-primary @xl:text-xl @4xl:text-3xl"
      >
        {post.data.title}
      </h2>
    </a>
    <PostAttr data={post.data} />
    <div
      class="prose mt-4 hidden max-w-[90ch] @5xl:block dark:prose-invert"
      set:html={desc}
    />
  </div>
</div>

<style is:global>
  @reference "../../../styles/base.css";
  .post-list-padding {
    @apply px-6 @xl:px-10 @4xl:px-16 @6xl:px-32;
  }
</style>
