---
import Card from "@comp/ui/Card/Card.astro";
type Props = {
  title: string;
  desc?: string;
};
const { title, desc } = Astro.props;
---

<Card
  class="flex h-52 flex-col items-start justify-center lg:h-96"
  padding="postList"
  bg="grid"
>
  <h1 class="text-5xl font-bold text-heading @3xl:text-6xl">
    {title}
  </h1>
  {desc && <p class="mt-4 ml-1 text-lg text-content">{desc}</p>}
</Card>
