---
import type { CollectionEntry } from "astro:content";
import { cardOuter } from "@comp/ui/Card/Card.astro";
import PrevNextBtn from "./PrevNextBtn.astro";
import { cn } from "@utils/cn";
interface Props {
  prev?: CollectionEntry<"post">;
  next?: CollectionEntry<"post">;
}
const { prev, next } = Astro.props;

if (!prev && !next) {
  throw new Error("PrevNext: prev and next are both empty");
}
---

<div class={cardOuter()}>
  <div
    class={cn(
      "main-container grid items-stretch",
      prev && next && "lg:grid-cols-2 grid-cols-1",
      prev && !next && "grid-cols-1",
      !prev && next && "grid-cols-1",
    )}
  >
    {
      prev && (
        <PrevNextBtn post={prev} class="border-b lg:border-r lg:border-b-0" />
      )
    }
    {next && <PrevNextBtn post={next} right />}
  </div>
</div>
