---
import AuthorCard from "./SideCardAuthor.astro";
import SideCardRecent from "./SideCardRecent.astro";
import Tags from "./SideCardTags.astro";
import SideCardSeries from "./SideCardSeries.astro";
import SideCardToc from "./SideCardToc.vue";
import type { MarkdownHeading } from "astro";
interface Props {
  tocList?: MarkdownHeading[];
  seriesID?: string;
}
const { tocList, seriesID } = Astro.props;
---

<div class="mb-4 flex flex-col gap-4">
  <AuthorCard />
  <Tags />
</div>
<div
  class="sticky top-[calc(var(--navbar-height)+var(--navbar-top-margin)+1rem)] flex flex-col gap-4"
>
  {tocList && <SideCardToc client:load headings={tocList} />}
  {seriesID && <SideCardSeries id={seriesID} />}
  <SideCardRecent />
</div>
