---
import BaseLayout from "./BaseLayout.astro";
import Navbar from "@/components/modules/nav/navbar.astro";
import Footer from "@/components/modules/nav/footer.astro";

type Props = Parameters<typeof BaseLayout>[0];
---

<BaseLayout {...Astro.props}>
  <div class="bg-bg text-content m-0 bg-fixed p-0">
    <div
      class="grid min-h-[100lvh] grid-rows-[var(--navbar-height)_auto_1fr_auto]"
    >
      <Navbar />
      <div class="w-full">
        <slot />
      </div>
      <section class="bg-grid border-container h-full min-h-12 border-b">
      </section>
      <Footer />
    </div>
  </div>
</BaseLayout>
