---
import { getSeo } from "@/lib/utils/SEO";
import NavLayout from "@/components/layouts/NavLayout.astro";
import ArticleHero from "@/components/modules/article/article-hero.astro";
import Comment from "@/components/modules/comments/comment.astro";

import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{
  // 在这里定义 frontmatter 属性
  title: string;
  description?: string;
  useComment?: boolean;
}>;

const { frontmatter: page } = Astro.props;

const seoConfig = getSeo({
  title: page.title,
  description: page.description,
  type: "article",
});
---

<NavLayout seoConfig={seoConfig}>
  <ArticleHero title={page.title} />
  <div class="border-b border-container">
    <div class="main-container h-full">
      <div class="px-4 py-18">
        <div
          class="mx-auto prose wrap-break-word prose-gray dark:prose-invert prose-headings:scroll-mt-8"
        >
          <slot />
        </div>
      </div>
    </div>
  </div>
  {page.useComment && <Comment />}
</NavLayout>
