---
import type { CollectionEntry } from "astro:content";
import PostAttr from "./PostAttr.astro";
import Card from "@comp/ui/Card/Card.astro";
type Props = {
  data: CollectionEntry<"post">["data"] | CollectionEntry<"page">["data"];
};
const { data } = Astro.props;
---

<Card class="mx-auto flex flex-col center gap-6 py-24" padding="article">
  <h1 class="text-center text-3xl font-bold text-heading">
    {data.title}
  </h1>
  <PostAttr data={data} alignment="center" />
</Card>
