---
import PostAttr from "./PostAttr.astro";
import CopyrightCard from "@comp/ui/ArticleCard/CopyrightCard.astro";
import MdRender from "@comp/elements/MdRender.astro";
import Card from "@comp/ui/Card/Card.astro";
import { type CollectionEntry } from "astro:content";
import { render } from "astro:content";
interface Props {
  entry: CollectionEntry<"post"> | CollectionEntry<"page">;
}
const { entry } = Astro.props;
const { Content } = await render(entry);
---

<section class="border-b border-container">
  <div class="main-container px-4 py-18">
    <MdRender>
      <Content />
    </MdRender>
  </div>
</section>
