---
import PostAttr from "./PostAttr.astro";
import CopyrightCard from "@comp/ui/ArticleCard/CopyrightCard.astro";
import MdRender from "@comp/elements/MdRender.astro";
import Card from "@comp/ui/Card/Card.astro";
import { type CollectionEntry } from "astro:content";
interface Props {
  entry: CollectionEntry<"post"> | CollectionEntry<"page">;
}
const { entry } = Astro.props;
---

<div class="article-main-card opacity-0">
  <Card class="space-y-4" useHeading headSize="3xl">
    <h1 slot="heading" class="article-title">
      {entry.data.title}
    </h1>
    {
      entry.data.date && (
        <div class="article-info-line">
          <PostAttr post={entry as CollectionEntry<"post">} />
        </div>
      )
    }
    <div class="article-main-content">
      <MdRender>
        <slot />
      </MdRender>
    </div>
  </Card>
</div>
{entry.data.copyright && <CopyrightCard entry={entry} />}

<script>
  import { animate } from "motion";
  const defaultOpt = { duration: 0.8, type: "spring", bounce: 0.5 } as const;
  const animater = () => {
    console.debug("animater run");

    const mainCard = document.querySelector(".article-main-card");
    if (!mainCard) {
      return;
    }

    animate(mainCard, { y: [20, 0], opacity: [0, 1] }, defaultOpt);

    const articleTitle = mainCard.querySelector(".article-title");
    if (articleTitle)
      animate(
        articleTitle,
        { y: [50, 0] },
        { ...defaultOpt, duration: defaultOpt.duration * 1.2 },
      );

    const articleInfoLine = mainCard.querySelector(".article-info-line");
    if (articleInfoLine)
      animate(
        articleInfoLine,
        { y: [50, 0] },
        { ...defaultOpt, duration: defaultOpt.duration * 1.3 },
      );

    const articleMainContent = mainCard.querySelector(".article-main-content");
    if (articleMainContent)
      animate(
        articleMainContent,
        { y: [50, 0] },
        { ...defaultOpt, duration: defaultOpt.duration * 1.4 },
      );
  };
  document.addEventListener("astro:page-load", () => animater());
</script>
