---
import { DateTime } from "luxon";
import { TooltipTime } from "@comp/ui/Tooltip";
import { Icon } from "astro-icon/components";
import { type CollectionEntry } from "astro:content";
interface Props {
  data:
    | Pick<CollectionEntry<"post">["data"], "date" | "updated" | "tags">
    | Pick<CollectionEntry<"page">["data"], "date" | "updated">;
}
const { data } = Astro.props;
---

<div
  class="flex flex-wrap items-center gap-2 text-[0.8rem] text-comment lg:gap-3"
>
  <TooltipTime
    postTime={DateTime.fromJSDate(data.date).toFormat("yyyy-MM-dd")}
    updatedTime={DateTime.fromJSDate(data.updated).toFormat("yyyy-MM-dd")}
    client:load
  >
    <div class="flex items-center select-none">
      <Icon name="mingcute:calendar-line" class="mr-1 text-base" />
      {DateTime.fromJSDate(data.date).toFormat("yyyy-MM-dd")}
    </div>
  </TooltipTime>

  <!-- Tags -->
  {
    "tags" in data && data?.tags instanceof Array && (
      <div class="flex items-center select-none">
        <Icon name="mingcute:hashtag-line" class="mr-1 text-base" />
        <span class="space-x-0.5">
          {data.tags.map((tag, index) => (
            <>
              {index !== 0 && <span class="text-comment">|</span>}
              <a href={"/tags/" + tag} class="transition hover:text-primary">
                {tag}
              </a>
            </>
          ))}
        </span>
      </div>
    )
  }
</div>
