---
import BaseLayout from "@layouts/BaseLayout.astro";
import Card from "@comp/elements/Card.astro";
import { getSeo } from "@utils/SEO";
const seoConfig = getSeo({ title: "404" });
---

<BaseLayout seoConfig={seoConfig} stopTrack>
  <Card class="p-4 lg:p-8">
    <h1 class="card-heading mb-4">404: 网页走丢啦！</h1>
    <div class="flex gap-4 justify-center">
      <a class="btn-regular p-2 rounded-md" href="/">返回首页</a>
    </div>
  </Card>
</BaseLayout>
