---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import ArticleCard from "@comp/modules/ArticleCard";
import SideBar from "@comp/modules/SideBar";
import { getDesc } from "@utils/markdown";
import { getSeo } from "@utils/SEO";
export async function getStaticPaths() {
  const pages = await getCollection("page");
  return pages.map((page) => ({
    params: { page: page.slug },
    props: { page },
  }));
}
const { page } = Astro.props;
const { Content, headings } = await page.render();
const desc = page.data.description || getDesc(page.body);

const seoConfig = getSeo({
  title: page.data.title,
  description: desc,
  image: page.data.image
    ? new URL(page.data.image, Astro.url).toString()
    : undefined,
  type: "article",
});
---

<BaseLayout seoConfig={seoConfig}>
  <div class="flex flex-col gap-4">
    <ArticleCard entry={page}>
      <Content />
    </ArticleCard>
  </div>
  <Fragment slot="sidebar">
    <SideBar tocList={headings} />
  </Fragment>
</BaseLayout>
