---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import PostCard from "../components/PostCard.astro";
import PaginationBtn from "../components/PaginationBtn.astro";
import "../styles/markdown.css";
export async function getStaticPaths({ paginate }: { paginate: any }) {
  const allPosts = await getCollection("post");
  allPosts.sort((a, b) => Number(b.data.date) - Number(a.data.date));
  return paginate(allPosts, { pageSize: 10 });
}
const { page } = Astro.props as { page: any };
import { Seo } from "../config";
const seoConfig = new Seo("首页", "笔记与分享，代码和生活").get();
---

<BaseLayout seoConfig={seoConfig}>
  <div class="flex flex-col gap-4">
    {page.data.map((post: any) => <PostCard post={post} />)}
    <div class="self-center">
      <PaginationBtn page={page} />
    </div>
  </div>
</BaseLayout>
