---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import MdRender from "../components/MdRender.astro";
import "../styles/utils.css";
import "../styles/markdown.css";
import { getDesc } from "../utils/mdUtils";
export async function getStaticPaths() {
  const pages = await getCollection("page");
  return pages.map((page) => ({
    params: { rootPage: page.slug },
    props: { page },
  }));
}
const { page } = Astro.props;
const { Content } = await page.render();
const desc = page.data.description || getDesc(page.body);
import { Seo } from "../config";
const seoConfig = new Seo(
  page.data.title,
  desc,
  Astro.url.origin + page.data.image,
  "article"
).get();
---

<BaseLayout seoConfig={seoConfig}>
  <div class="card-base" data-pagefind-body>
    <h1 class="card-heading">
      {page.data.title}
    </h1>
    <MdRender>
      <Content />
    </MdRender>
  </div>
</BaseLayout>
