---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Seo } from "../config";
const seoConfig = (new Seo("关于")).get();
---

<BaseLayout seoConfig={seoConfig}>
  <div class="card-base mb-4">
    <h1
      class="card-heading"
    >
      关于我
    </h1>
  </div>
</BaseLayout>
