---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="关于我">
  <div class="card-color py-8 px-4 lg:px-8 rounded-lg mb-4">
    <h1
      class="text-3xl font-semibold tracking-tight text-black/90 dark:text-white/90 text-wrap mb-4 relative
    before:w-1 before:h-5 before:rounded-md before:bg-primary
    before:absolute before:top-2 before:-left-4 before:hidden lg:before:block"
    >
      关于我
    </h1>
  </div>
</BaseLayout>
