---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="关于我">
  <div class="card-base mb-4">
    <h1
      class="card-heading"
    >
      关于我
    </h1>
  </div>
</BaseLayout>
