---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getSeo } from "@utils/SEO";
import Card from "../components/base/Card.astro";
const seoConfig = getSeo({ title: "关于", type: "website" });
---

<BaseLayout seoConfig={seoConfig}>
  <Card class="p-4 lg:p-8">
    <h1 class="card-heading">关于</h1>
    <div class="mt-6 flex flex-col relative">
      <a href="/site-history" class="btn-plain w-fit p-2 rounded-xl">
        站志 - 本站时间轴 <i class="i-mingcute-external-link-line"></i>
      </a>
    </div>
  </Card>
</BaseLayout>
