---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/Base.astro";
import "../styles/utils.css";
const allPosts = await getCollection("post");
---

<BaseLayout>
  <div class="card text-gray-900 dark:text-white p-8 rounded-lg">
    <ul>
      {
        allPosts.map((post) => (
          <li>
            <a href={`/post/${post.slug}`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
