---
import NoGridLayout from "@layouts/NoGridLayout.astro";
import IndexCard from "@comp/homepage/MainHome.astro";
import HomeRecent from "@comp/homepage/HomeRecent.astro";
import HomeProjects from "@comp/homepage/HomeProjects.astro";
import { getSeo } from "@utils/SEO";
import HighlightPosts from "@comp/homepage/HighlightPosts.astro";
const seoConfig = getSeo({
  title: "首页",
  description: "笔记与分享，代码和生活",
});
---

<NoGridLayout seoConfig={seoConfig}>
  <div class="max-w-4xl mx-auto">
    <IndexCard />
    <div
      class="min-h-[100vh] flex items-center justify-center pt-12"
      id="highlights"
    >
      <HighlightPosts />
    </div>
    <div
      class="min-h-[100vh] flex items-center justify-center pt-12"
      id="recent"
    >
      <HomeRecent />
    </div>
    <div
      class="min-h-[100vh] flex items-center justify-center pt-12"
      id="projects"
    >
      <HomeProjects />
    </div>
  </div>
</NoGridLayout>
