---
import NoGridLayout from "@layouts/NoGridLayout.astro";
import HomeBento from "@comp/modules/HomeBento";
import { getSeo } from "@utils/SEO";
const seoConfig = getSeo({
  title: "首页",
  description: "笔记与分享，代码和生活",
});
---

<NoGridLayout seoConfig={seoConfig} navStats={"首页"}>
  <div
    class="w-full my-8 overflow-hidden animate-onload lg:w-screen lg:px-4 lg:max-w-screen-xl lg:ml-[calc(50%-50vw)] xl:ml-[calc(50%-640px)]"
  >
    <HomeBento />
  </div>
</NoGridLayout>
