---
import NoGridLayout from "../layouts/NoGridLayout.astro";
import IndexCard from "../components/homepage/MainHome.astro";
import HomeRecent from "../components/homepage/HomeRecent.astro";
import { Seo } from "../config";
import HighlightPosts from "../components/homepage/HighlightPosts.astro";
const seoConfig = new Seo("首页", "笔记与分享，代码和生活").get();
---

<NoGridLayout seoConfig={seoConfig}>
  <div class="max-w-4xl mx-auto">
    <IndexCard />
    <div class="min-h-[100vh] flex items-center justify-center pt-12">
      <HighlightPosts />
    </div>
    <div class="min-h-[100vh] flex items-center justify-center pt-12">
      <HomeRecent />
    </div>
  </div>
</NoGridLayout>
