---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import ProjectCard from "@comp/elements/ProjectCard.astro";
import { getSeo } from "@utils/SEO";
const seoConfig = getSeo({ title: "我的项目" });
const projects = await getCollection("project");
---

<BaseLayout seoConfig={seoConfig}>
  <h1 class="text-3xl text-heading">My Projects</h1>
  <hr class="my-4 h-0.5 w-2/3 border-none bg-gray-600/20 dark:bg-gray-400/20" />
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
    {projects.map((project) => <ProjectCard project={project} />)}
  </div>
</BaseLayout>
