---
import { getSeo } from "@utils/SEO";
import NoGridLayout from "src/layouts/NoGridLayout.astro";
import SearchPanel from "@comp/elements/SearchPanel.vue";
import { Icon } from "astro-icon/components";
const seo = getSeo({ title: "Search", noindex: true });
---

<NoGridLayout seoConfig={seo} stopTrack>
  <div class="container relative mx-auto w-full px-4">
    <SearchPanel client:load class="mx-auto max-w-screen-lg md:max-w-[70%]" />
    <span
      id="search-loading"
      class="absolute left-1/2 top-56 inline-flex w-fit -translate-x-1/2 gap-2 text-content center"
    >
      <Icon
        name="mingcute:loading-line"
        class="animate-spin animate-infinite"
      />
      正在加载，稍安毋躁
    </span>
  </div>
</NoGridLayout>

<script>
  window.addEventListener("search-panel-mounted", () => {
    const searchLoading = document.getElementById("search-loading");
    if (searchLoading) {
      // debugger;
      searchLoading.style.display = "none";
    }
  });
</script>
