---
import PostAttr from "./PostAttr.astro";
import CopyrightCard from "./CopyrightCard.astro";
import MdRender from "@comp/elements/MdRender.astro";
interface Props {
  entry: CollectionEntry<"post"> | CollectionEntry<"page">;
}
const { entry } = Astro.props;
---

<div transition:name="post-card" class="main-card-onload">
  <Card class="space-y-4" useHeading headSize="3xl">
    <h1
      slot="heading"
      transition:name="post-heading"
      class="animate-onload animate-delay-[calc(var(--inner-card-delay))] opacity-0"
    >
      {entry.data.title}
    </h1>
    {
      entry.data.date && (
        <div class="animate-onload animate-delay-[calc(var(--inner-card-delay)+75ms)] opacity-0">
          <PostAttr post={entry as CollectionEntry<"post">} />
        </div>
      )
    }
    <div
      class="animate-onload animate-delay-[calc(var(--inner-card-delay)+150ms)] opacity-0"
    >
      <MdRender>
        <slot />
      </MdRender>
    </div>
  </Card>
</div>
{entry.data.copyright && <CopyrightCard entry={entry} />}
