---
import { DateTime } from "luxon";
import TimeTooltip from "@comp/elements/TimeTooltip.vue";
import { Icon } from "astro-icon/components";
import { type CollectionEntry } from "astro:content";
interface Props {
  post: CollectionEntry<"post">;
}
const { post } = Astro.props;
---

<div
  class="flex flex-wrap items-center gap-2 text-[0.8rem] text-comment lg:gap-3"
>
  <TimeTooltip
    postTime={DateTime.fromJSDate(post.data.date).toFormat("yyyy-MM-dd")}
    updatedTime={DateTime.fromJSDate(post.data.updated).toFormat("yyyy-MM-dd")}
    client:load
  >
    <div class="flex select-none items-center">
      <Icon name="mingcute:calendar-line" class="mr-1 text-base" />
      {DateTime.fromJSDate(post.data.date).toFormat("yyyy-MM-dd")}
    </div>
  </TimeTooltip>

  <!-- Tags -->
  {
    post.data?.tags instanceof Array && (
      <div class="flex select-none items-center">
        <Icon name="mingcute:hashtag-line" class="mr-1 text-base" />
        <span class="space-x-0.5">
          {post.data.tags.map((tag, index) => (
            <>
              {index !== 0 && <span class="text-comment">|</span>}
              <a href={"/tags/" + tag} class="transition hover:text-primary">
                {tag}
              </a>
            </>
          ))}
        </span>
      </div>
    )
  }
</div>
