---
import Section from "@/components/ui/section.astro";

interface Props {
  title: string;
  desc?: string;
}

const { title, desc } = Astro.props;
---

<Section
  class="flex h-52 flex-col items-start justify-center lg:h-96"
  padding="postList"
  bg="grid"
>
  <h1 class="text-heading @3xl:text-6xl text-5xl font-bold">{title}</h1>
  {desc && <p class="text-content ml-1 mt-4 text-lg">{desc}</p>}
</Section>
