---
import Section from "@/components/ui/section.astro";
import { colors, spacing, typography } from "@repo/design-tokens/tokens.stylex";
import * as stylex from "@stylexjs/stylex";

interface Props {
  title: string;
  desc?: string;
}
const { title, desc } = Astro.props;
const styles = stylex.create({
  hero: {
    alignItems: "flex-start",
    display: "flex",
    flexDirection: "column",
    height: "13rem",
    justifyContent: "center",
    "@media (min-width: 64rem)": { height: "24rem" },
  },
  title: {
    color: colors.textPrimary,
    fontSize: "3rem",
    fontWeight: typography.weightBold,
    margin: 0,
    "@container (min-width: 48rem)": { fontSize: "3.75rem" },
  },
  description: {
    color: colors.textPrimary,
    fontSize: typography.sizeLg,
    marginBlock: `${spacing.lg} 0`,
    marginInlineStart: spacing.xs,
  },
});
---

<Section style={styles.hero} padding="postList" bg="grid">
  <h1 {...stylex.attrs(styles.title)}>{title}</h1>
  {desc && <p {...stylex.attrs(styles.description)}>{desc}</p>}
</Section>
