---
import { Icon } from "astro-icon/components";
import { format, isSameDay } from "date-fns";

interface Props {
  date: Date;
  updated?: Date;
}

const { date, updated } = Astro.props;
---

<div class="flex items-center gap-2 select-none lg:gap-3">
  <div class="flex items-center select-none">
    <Icon name="lucide:calendar" size={16} class="mr-1" />
    {format(date, "yyyy-MM-dd")}
  </div>
  {updated && !isSameDay(date, updated) && (
    <div class="flex items-center select-none">
      <Icon name="lucide:square-pen" size={16} class="mr-1" />
      {format(updated, "yyyy-MM-dd")}
    </div>
  )}
</div>