---
interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

<div class="flex items-center select-none">
  <span class="mr-1 i-lucide-hash size-4"></span>
  <span class="space-x-0.5">
    {
      tags.map((tag, index) => (
        <>
          {index !== 0 && <span class="text-comment">|</span>}
          <a
            href={`/tags/${tag}`}
            class="transition hover:text-accent-foreground"
          >
            {tag}
          </a>
        </>
      ))
    }
  </span>
</div>
