---
import { format, isSameDay } from "date-fns";
import type { ContentTimeData } from "@/content.config";

type Props = ContentTimeData;

const { writingDate, updatedDate, publishedDate } = Astro.props;
---

<div class="flex select-none items-center gap-2 lg:gap-3">
  <div class="flex select-none items-center">
    <span class="i-lucide-calendar mr-1 size-4"></span>
    {format(publishedDate, "yyyy-MM-dd")}
  </div>
  {
    updatedDate && !isSameDay(publishedDate, updatedDate) && (
      <div class="flex select-none items-center">
        <span class="i-lucide-square-pen mr-1 size-4" />
        {format(updatedDate, "yyyy-MM-dd")}
      </div>
    )
  }
</div>
