---
import BaseLayout from "@layouts/BaseLayout.astro";
import PostCard from "@comp/PostCard.astro";
import PaginationBtn from "@comp/PaginationBtn.astro";
import { getSortedPosts } from "@utils/content";
import type { Page } from "astro";
import { getSeo } from "@utils/SEO";

export async function getStaticPaths({ paginate }: { paginate: any }) {
  const allPosts = await getSortedPosts();
  return paginate(allPosts, { pageSize: 10 });
}
const { page } = Astro.props as { page: Page };
const seoConfig = getSeo({ title: "文章列表" });
---

<BaseLayout seoConfig={seoConfig} navStats="文章">
  <div class="flex flex-col gap-4">
    {page.data.map((post: any) => <PostCard post={post} />)}
    <div class="self-center">
      <PaginationBtn page={page} />
    </div>
  </div>
</BaseLayout>

<script is:inline>
  document.addEventListener("astro:before-preparation", (ev) => {
    const sourceElement = ev.sourceElement;
    if (!sourceElement) return;

    const postCard = sourceElement.parentElement;
    if (postCard?.classList.contains("post-card")) {
      postCard.style.viewTransitionName = "post-card";
    } else {
      return;
    }
    const postCardAttr =
      sourceElement.parentElement.querySelector(".post-card-attr");

    if (sourceElement.classList.contains("post-card-heading")) {
      sourceElement.style.viewTransitionName = "post-heading";
    }
    if (postCardAttr) {
      postCardAttr.style.viewTransitionName = "post-attr";
    }
  });
</script>
