---
import BaseLayout from "@layouts/BaseLayout.astro";
import PaginationBtn from "@comp/elements/PaginationBtn.astro";
import { getSortedPosts } from "@utils/content";
import type { Page } from "astro";
import { getSeo } from "@utils/SEO";

// eslint-disable-next-line @typescript-eslint/no-explicit-any
export async function getStaticPaths({ paginate }: { paginate: any }) {
  const allPosts = await getSortedPosts();
  return paginate(allPosts, { pageSize: 10 });
}
const { page } = Astro.props as { page: Page };
const seoConfig = getSeo({ title: "文章列表" });
type PostType = CollectionEntry<"post">;
---

<BaseLayout seoConfig={seoConfig} navStats="文章">
  <div class="flex flex-col gap-4">
    {page.data.map((post: PostType) => <ArticleInfoCard post={post} />)}
    <div class="self-center">
      <PaginationBtn page={page} />
    </div>
  </div>
</BaseLayout>

<script>
  document.addEventListener("astro:before-preparation", (ev) => {
    const sourceElement = ev.sourceElement;

    if (!sourceElement?.classList.contains("post-card-heading")) return;
    // @ts-expect-error ignore ignore
    sourceElement.style.viewTransitionName = "post-heading";

    const postCard = sourceElement.closest(".post-card");
    console.log("postCard", postCard);
    console.log(postCard);
    if (!postCard) return;
    // @ts-expect-error ignore ignore
    postCard.style.viewTransitionName = "post-card";

    const postCardAttr = postCard.querySelector(".post-card-attr");
    if (!postCardAttr) return;
    // @ts-expect-error ignore ignore
    postCardAttr.style.viewTransitionName = "post-attr";
  });
</script>
