---
import BaseLayout from "@layouts/BaseLayout.astro";
import PostCard from "@comp/PostCard.astro";
import PaginationBtn from "@comp/PaginationBtn.astro";
import { getSortedPosts } from "@utils/content";
export async function getStaticPaths({ paginate }: { paginate: any }) {
  const allPosts = await getSortedPosts();
  return paginate(allPosts, { pageSize: 10 });
}
interface Props {
  page: any;
}
const { page } = Astro.props;
import { getSeo } from "@utils/SEO";
const seoConfig = getSeo({ title: "文章列表" });
---

<BaseLayout seoConfig={seoConfig} navStats="文章">
  <div class="flex flex-col gap-4">
    {page.data.map((post: any) => <PostCard post={post} />)}
    <div class="self-center">
      <PaginationBtn page={page} />
    </div>
  </div>
</BaseLayout>
