---
import { type CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostCard from "../../components/PostCard.astro";
import PaginationBtn from "../../components/PaginationBtn.astro";
import { getSortedPosts } from "../../utils/urlUtils";
export async function getStaticPaths({ paginate}: { paginate: any }) {
  const allPosts = await getSortedPosts();
  return paginate(allPosts, { pageSize: 10 });
}
interface Props {
  page: any;
}
const { page } = Astro.props;
import { Seo } from "../../config";
const seoConfig = new Seo("文章列表").get();
---

<BaseLayout seoConfig={seoConfig}>
  <div class="flex flex-col gap-4">
    {page.data.map((post: any) => <PostCard post={post} />)}
    <div class="self-center">
      <PaginationBtn page={page} />
    </div>
  </div>
</BaseLayout>
