---
import type { GetStaticPaths } from "astro";
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import { ArticleInfoCard } from "@comp/modules/ArticleCard";
import CategoryTitle from "@comp/elements/CategoryTitle.astro";
export const getStaticPaths = (async () => {
  const posts = await getCollection("post");
  const categoriesWithPosts: Record<string, CollectionEntry<"post">[]> = {};
  posts.forEach((post: CollectionEntry<"post">) => {
    if (!post.data.categories) return;
    const categories = post.data.categories;
    categoriesWithPosts[categories] = categoriesWithPosts[categories] || [];
    categoriesWithPosts[categories].push(post);
  });
  const paths = Object.keys(categoriesWithPosts).map((categories) => ({
    params: { categories: categories },
    props: { categories: categories, posts: categoriesWithPosts[categories] },
  }));
  return paths;
}) satisfies GetStaticPaths;

const { categories, posts } = Astro.props;
import { getSeo } from "@utils/SEO";
const seoConfig = getSeo({ title: "分类：" + categories, noindex: true });
---

<BaseLayout seoConfig={seoConfig} navStats="文章">
  <CategoryTitle title={categories} count={posts.length} />
  <div class="flex flex-col gap-4">
    {posts.map((post) => <ArticleInfoCard post={post} />)}
  </div>
</BaseLayout>
