---
interface Props {
  group: { year: string; posts: unknown[] };
}
const { group } = Astro.props;
---
<div class="flex flex-row w-full items-center h-[3.75rem]">
  {/* year */}
  <div class="w-[15%] md:w-[10%] transition text-2xl font-bold text-right text-black/75 dark:text-white/75">
    {group.year}
  </div>
  {/* dot and line */}
  <div class="w-[15%] md:w-[10%]">
    <div class="h-3 w-3 bg-none rounded-full mx-auto z-10 outline outline-[var(--text-primary)] outline-offset-[2px]" />
  </div>
  {/* post count */}
  <div class="w-[70%] md:w-[80%] transition text-left text-black/50 dark:text-white/50">
    {group.posts.length}
  </div>
</div>