---
import { navMenu } from "../../config";
import { siteConfig } from "../../config";
import { Icon } from "astro-icon/components";
import MobileMenu from "./MobileMenu.vue";
import Card from "../base/Card.astro";
import NavContainer from "./NavContainer.vue";
---

<Card
  class="rounded-t-none h-16 px-3 min-h-16 flex justify-between items-center"
>
  <div class="md:hidden h-8"><MobileMenu client:load /></div>
  <div class="self-center">
    <a class="flex items-center text-xl" href="/">
      <img src="/ava.webp" alt="logo" class="w-8 h-8 rounded-lg mr-3" />
      <span class="hidden md:inline">{siteConfig.title}</span>
    </a>
  </div>
  <div class="hidden md:flex h-full">
    <ul class="flex gap-1 items-center" id="navList">
      {navMenu.map((item) => <NavContainer client:load nav={item} />)}
    </ul>
  </div>
  <a href="/search">
    <Icon name={"mingcute:search-2-line"} size={32} />
  </a>
</Card>
