---
import type { NavMenu } from "../../config";
interface Props {
  nav: NavMenu;
}
const { nav } = Astro.props;
---

<li class="w-20 text-center font-medium relative group h-full flex">
  <span class="w-full hover:text-portage-300 self-center z-1">
    {nav.text}
  </span>
  {
    nav.subMenu!.length > 0 && (
      <>
        <div class="absolute top-0 -bottom-2 left-0 right-0 z-0" />
        <ul
          class="absolute top-18 -left-2 w-24
        bg-white dark:bg-gray-900 rounded-lg shadow-lg
        hidden group-hover:block z-20 border dark:border-gray-800
        group-hover:animate-in group-hover:slide-in-t-1/6 group-hover:fade-in"
        >
          {nav.subMenu!.map((subItem) => (
            <li
              class="text-center rounded-lg py-2 m-1 transition-colors
              hover:(bg-gray-100 dark:bg-gray-800 text-portage-400)"
            >
              <a href={subItem.link} class="text-sm">
                {subItem.text}
              </a>
            </li>
          ))}
        </ul>
      </>
    )
  }
</li>
