<footer class="rounded-t-lg card-color">
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-gray-500 dark:text-gray-400">
      © 2023-2024 <a
        href="https://blog.yfi.moe"
        class="hover:underline text-primary dark:text-primary-dark">Yunfi</a
      >.<br />Powered by <a
        href="https://astro.build"
        class="hover:underline text-primary dark:text-primary-dark">Astro</a
      >. Inspired by <a
        href="https://github.com/saicaca/hexo-theme-vivia"
        class="hover:underline text-primary dark:text-primary-dark">vivia</a
      > & <a
        href="https://github.com/saicaca/fuwari"
        class="hover:underline text-primary dark:text-primary-dark">Fuwari</a
      >.
    </span>
    <ul
      class="flex flex-wrap items-center text-sm"
    >
      <li>
        <a href="/about" class="btn-plain me-4 md:me-6 p-2 rounded-md">About</a>
      </li>
    </ul>
  </div>
</footer>
