---
import Card from "@comp/base/Card.astro";
---

<Card class="rounded-b-none">
  <div
    class="w-full p-4"
  >
    <div class="flex flex-col">
      <span class="text-sm text-comment">
        © 2023-2024
        <a href="https://yfi.moe"> Yunfi</a>.
        <span class="opacity-50">|</span>
        <a href="/feed.xml">RSS</a>
        <span class="opacity-50">|</span>
        <a href="/sitemap-index.xml">SITEMAP</a>
      </span>
      <span class="text-sm text-comment">
        Powered by
        <a href="https://astro.build"> Astro</a>. Inspired by
        <a href="https://github.com/saicaca/hexo-theme-vivia"> vivia </a>
        &
        <a href="https://github.com/saicaca/fuwari"> Fuwari</a>.
      </span>
    </div>
  </div>
</Card>
