---
import { Icon } from "astro-icon/components";
const { page } = Astro.props;
---

<div class="flex rounded-md justify-center">
  <div
    class="btn-regular w-8 h-8 flex items-center justify-center rounded-l-md"
  >
    {
      page.currentPage > 1 ? (
        <a href={page.url.prev}>
          <Icon name="mdi:chevron-double-left" size={32} />
        </a>
      ) : (
        <Icon name="fa6-solid:xmark" size={32} />
      )
    }
  </div>
  <div
    class="btn-regular w-fit h-8 px-2 tracking-wider
          flex items-center justify-center
          border-x-2
          border-btn-regular-bg-light
          dark:border-regular-bg-dark"
  >
    {page.currentPage}/{page.lastPage}
  </div>
  <div
    class="btn-regular w-8 h-8 flex items-center justify-center rounded-r-md"
  >
    {
      page.currentPage !== page.lastPage ? (
        <a href={page.url.next} aria-label="button to next page">
          <Icon name="mdi:chevron-double-right" size={32} />
        </a>
      ) : (
        <Icon name="fa6-solid:xmark" size={32} />
      )
    }
  </div>
</div>
