---
import { Icon } from "astro-icon/components";
const { page } = Astro.props;
---

<div class="flex rounded-md justify-center">
  <div
    class="btn-plain w-8 h-8 flex items-center justify-center rounded-l-md"
  >
    {/* !TODO */}
    {
      page.currentPage > 1 ? (
        <a href={page.url.prev}>
          <Icon name="mingcute:arrows-left-line" size={32} />
        </a>
      ) : (
        <a href="/" aria-label="button to home">
          <Icon name="mingcute:home-3-line" size={26} />
        </a>
      )
    }
  </div>
  <div
    class="btn-plain w-fit h-8 px-2 tracking-wider
          flex items-center justify-center"
  >
    {page.currentPage}/{page.lastPage}
  </div>
  <div
    class="btn-plain w-8 h-8 flex items-center justify-center rounded-r-md"
  >
    {
      page.currentPage !== page.lastPage ? (
        <a href={page.url.next} aria-label="button to next page">
          <Icon name="mingcute:arrows-right-line" size={32} />
        </a>
      ) : (
        <a href="/" aria-label="button to home">
          <Icon name="mingcute:home-3-line" size={26} />
        </a>
      )
    }
  </div>
</div>
