---
import type { CollectionEntry } from "astro:content";
interface Props {
  post: CollectionEntry<"post">;
}
import PostAttr from "./PostAttr.astro";
const { post } = Astro.props;
import { renderDesc } from "../utils/mdUtils";
import Card from "./base/Card.astro";

let desc = "";
if (post.data.description === undefined) {
  desc = await renderDesc(post.body);
} else {
  desc = post.data.description || "";
}
---

<Card class="space-y-2 lg:space-y-3 px-4 py-2 lg:p-8 lg:py-5">
  <a
    href={"/post/" + post.slug}
    class="card-heading hover:text-portage-400 active:text-portage-500
     hover:dark:text-portage-300 active:dark:text-portage-200
     transition-colors duration-300 ease-in-out"
  >
    <h2>{post.data.title}</h2>
  </a>
  <PostAttr post={post} />
  <div
    class="prose dark:prose-invert max-w-none leading-normal text-sm
    prose-headings:my-1 prose-headings:text-xl prose-headings:font-normal
    prose-p:my-1 prose-blockquote:my-1 prose-li:my-1 prose-ul:my-1 prose-ol:my-1
    prose-hr:my-1 prose-pre:my-1"
    set:html={desc}
  />
</Card>