---
import type { CollectionEntry } from "astro:content";
interface Props {
  post: CollectionEntry<"post">;
}
import PostAttr from "./PostAttr.astro";
const { post } = Astro.props;
import { renderDesc } from "../utils/mdUtils";

let desc = "";
if (post.data.description === undefined) {
  desc = await renderDesc(post.body);
} else {
  desc = post.data.description || "";
}
---

<div class="card-base flex flex-col gap-2 lg:gap-4">
  <a href={"/post/" + post.slug}>
    <h5 class="card-heading">
      {post.data.title}
    </h5>
  </a>
  <PostAttr post={post} />
  <div class="custom-md card-desc" set:html={desc} />
</div>
