---
import type { CollectionEntry } from "astro:content";
interface Props {
  post: CollectionEntry<"post">;
}
import PostAttr from "@comp/PostAttr.vue";
const { post } = Astro.props;
import { renderDesc } from "@utils/mdUtils";
import Card from "@comp/base/Card.astro";

let desc = "";
if (post.data.description === undefined) {
  desc = await renderDesc(post.body);
} else {
  desc = "<p>" + post.data.description + "</p>" || "";
}
---

<Card
  class="space-y-2 lg:space-y-3 p-4 lg:px-8 lg:py-5 md:hover:-translate-y-0.5 transition"
>
  <a
    href={"/post/" + post.slug}
    class="card-heading hover:text-portage-400 active:text-portage-500
     hover:dark:text-portage-300 active:dark:text-portage-200
     transition-colors duration-300 ease-in-out"
  >
    <h2>{post.data.title}</h2>
  </a>
  <div
    class="prose dark:prose-invert max-w-none leading-normal text-sm"
    set:html={desc}
  />
  <PostAttr post={post} client:load />
</Card>
