---
interface Props {
  post: CollectionEntry<"post">;
}
import PostAttr from "@comp/PostAttr.astro";
const { post } = Astro.props;
import { renderDesc } from "@utils/markdown";

let desc = "";
if (post.data.description === undefined) {
  desc = await renderDesc(post.body);
} else {
  desc = "<p>" + post.data.description + "</p>" || "";
}
---

<Card class=`space-y-2 lg:space-y-3 transition post-card` useHeading>
  <a
    slot="heading"
    href={getPostPath(post)}
    class="hover:text-primary active:text-active transition-colors post-card-heading"
  >
    <h2>{post.data.title}</h2>
  </a>
  <div class="prose dark:prose-invert !text-sm" set:html={desc} />
  <PostAttr post={post} />
</Card>
