---
import { DateTime } from "luxon";
import { Icon } from "astro-icon/components";
const { post } = Astro.props;
---

<div class="flex flex-wrap items-center gap-2 lg:gap-3 text-sm">
  <!-- Date -->
  <a class="meta-icon btn-regular" href="/achieve">
    <Icon name="mdi:calendar-blank-outline" class="text-lg mr-1" />
    {DateTime.fromJSDate(post.data.date).toFormat("yyyy-MM-dd")}
  </a>

  <!-- Tags -->
  {
    post.data.tags &&
      post.data.tags.map((tag: string) => (
        <a class="meta-icon btn-regular" href={`/tags/${tag}`}>
          <Icon name="mdi:tag-outline" class="text-lg mr-1" />
          {tag}
        </a>
      ))
  }
</div>

<style>
  .meta-icon {
    @apply mr-2 flex h-8 items-center justify-center rounded-md px-3 transition;
  }
</style>
