---
import { DateTime } from "luxon";
import { Icon } from "astro-icon/components";
import { type CollectionEntry } from "astro:content";
interface Props {
  post: CollectionEntry<"post">;
}
const { post } = Astro.props;
---

<div
  class="flex flex-wrap items-center gap-2 lg:gap-3 text-[0.8rem] text-comment post-card-attr"
>
  <div class="flex select-none items-center">
    <Icon name="mingcute:calendar-line" class="text-base mr-1" />
    {DateTime.fromJSDate(post.data.date).toFormat("yyyy-MM-dd")}
  </div>

  <!-- Tags -->
  {
    post.data?.tags instanceof Array && (
      <div class="flex select-none items-center">
        <Icon name="mingcute:hashtag-line" class="text-base mr-1" />
        <span class="space-x-0.5">
          {post.data.tags.map((tag, index) => (
            <>
              {index !== 0 && <span class="text-comment">|</span>}
              <a
                href={"/tags/" + tag}
                class="hover:text-primary transition"
              >
                {tag}
              </a>
            </>
          ))}
        </span>
      </div>
    )
  }
</div>

<style>
  .meta-icon {
    @apply mr-2 flex h-8 items-center justify-center rounded-md px-3 transition;
  }
</style>
