---
import type { CollectionEntry } from 'astro:content';
interface Props {
  post: CollectionEntry<'post'>;
}
import "../styles/utils.css";
import PostAttr from "./PostAttr.astro";
const { post } = Astro.props;
let desc = "";
if (post.data.description === undefined) {
  const content = post.body || "";
  const moreIndex = content.indexOf("<!--more-->");
  desc =
    moreIndex !== -1
      ? content.substring(0, moreIndex)
      : content.substring(0, 50);
} else {
  desc = post.data.description || "";
}
---

<div class="card-i mb-4 min-h-44">
  <div class="px-4 my-2 flex flex-col justify-between min-h-44">
    <div>
      <a href={"/post/" + post.slug}>
        <h5 class="my-2 text-2xl font-bold tracking-tight text-base-content">
          {post.data.title}
        </h5>
      </a>
    </div>
    <div class="mb-2 text-base-content/70 break-words">
      {desc}
    </div>
    <div class="pb-2">
      <PostAttr post={post} />
    </div>
  </div>
</div>
