---
import type { CollectionEntry } from "astro:content";
import { Icon } from "astro-icon/components";
import { getPostPath } from "@utils/path";
interface Props {
  prev: CollectionEntry<"post">;
  next: CollectionEntry<"post">;
}
const { prev, next } = Astro.props;
const prev1 = prev
  ? {
      url: getPostPath(prev),
      title: prev.data.title,
    }
  : {
      url: "/",
      title: "Home",
    };
const next1 = next
  ? {
      url: getPostPath(next),
      title: next.data.title,
    }
  : {
      url: "/",
      title: "Home",
    };
---

<div
  class="flex flex-col md:flex-row justify-between gap-4 overflow-hidden w-full"
>
  <a href={prev1.url} class="w-full font-bold overflow-hidden active:scale-95">
    {
      (
        <div class="bg-card shape-card w-full max-w-full h-10 px-4 flex items-center justify-start gap-4">
          <Icon name="mingcute:left-fill" size={32} class="text-portage-300" />
          <div class="overflow-hidden transition text-ellipsis whitespace-nowrap max-w-[calc(100%_-_3rem)] text-heading">
            {prev1.title}
          </div>
        </div>
      )
    }
  </a>

  <a href={next1.url} class="w-full font-bold overflow-hidden active:scale-95">
    {
      (
        <div class="bg-card shape-card w-full max-w-full h-10 px-4 flex items-center justify-end gap-4">
          <div class="overflow-hidden transition text-ellipsis whitespace-nowrap max-w-[calc(100%_-_3rem)] text-heading">
            {next1.title}
          </div>
          <Icon name="mingcute:right-fill" size={32} class="text-portage-300" />
        </div>
      )
    }
  </a>
</div>
