---
import type { CollectionEntry } from "astro:content";
import { Icon } from "astro-icon/components";
interface Props {
  prev: CollectionEntry<"post">;
  next: CollectionEntry<"post">;
}
const { prev, next } = Astro.props;
const prev1 = prev
  ? {
      url: "/post/" + prev.slug,
      title: prev.data.title,
    }
  : {
      url: "/",
      title: "Home",
    };
const next1 = next
  ? {
      url: "/post/" + next.slug,
      title: next.data.title,
    }
  : {
      url: "/",
      title: "Home",
    };
---

<div
  class="flex flex-col md:flex-row justify-between gap-4 overflow-hidden w-full"
>
  <a href={prev1.url} class="w-full font-bold overflow-hidden active:scale-95">
    {
      (
        <div class="btn-card w-full max-w-full h-10 px-4 rounded-2xl flex items-center justify-start gap-4">
          <Icon
            name="mdi:chevron-left"
            size={32}
            class="text-[var(--primary)]"
          />
          <div class="overflow-hidden transition text-ellipsis whitespace-nowrap max-w-[calc(100%_-_3rem)] ">
            {prev1.title}
          </div>
        </div>
      )
    }
  </a>

  <a href={next1.url} class="w-full font-bold overflow-hidden active:scale-95">
    {
      (
        <div class="btn-card w-full max-w-full h-10 px-4 rounded-2xl flex items-center justify-end gap-4">
          <div class="overflow-hidden transition text-ellipsis whitespace-nowrap max-w-[calc(100%_-_3rem)] ">
            {next1.title}
          </div>
          <Icon
            name="mdi:chevron-right"
            size={32}
            class="text-[var(--primary)]"
          />
        </div>
      )
    }
  </a>
</div>