---
import type { CollectionEntry } from "astro:content";
interface Props {
  prev: CollectionEntry<"post">;
  next: CollectionEntry<"post">;
}
const { prev, next } = Astro.props;
const prev1 = prev
  ? {
      url: "/post/" + prev.slug,
      title:
        prev.data.title.length > 25
          ? prev.data.title.slice(0, 25) + "..."
          : prev.data.title,
    }
  : {
      url: "/",
      title: "Home",
    };
const next1 = next
  ? {
      url: "/post/" + next.slug,
      title:
        next.data.title.length > 25
          ? next.data.title.slice(0, 25) + "..."
          : next.data.title,
    }
  : {
      url: "/",
      title: "Home",
    };
---

<div class="join grid grid-cols-2 mb-4 mx-1">
  {
    (
      <a href={prev1.url}>
        <div class="prev-next-join ">
          <div class="overflow-hidden mx-2 max-w-fit text-ellipsis text-nowrap">{prev1.title}</div>
        </div>
      </a>
    )
  }
  {
    (
      <a href={next1.url}>
        <div class="prev-next-join">
          <div class="overflow-hidden max-2 max-w-fit text-ellipsis text-nowrap">{next1.title}</div>
        </div>
      </a>
    )
  }
</div>

<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer components {
    .prev-next-join {
      @apply join-item bg-base-200 border-2 border-base-content/20 p-2 w-full flex justify-center items-center;
    }
  }
</style>
