---
import Card from "../base/Card.astro";
interface Props {
  cardTitle: string;
  cardLink: string;
}
const { cardTitle, cardLink } = Astro.props;
---

<Card class="w-full" useHeading padding="sm">
  <a
    href={cardLink}
    slot="heading"
    class="transition pb-2 block hover:text-primary"
  >
    <h5>
      {cardTitle}
    </h5>
  </a>
  <slot />
</Card>
