---
import SideCard from "./SideCard.astro";

import { type TocItem } from "../../config";
interface Props {
  tocList: TocItem[];
}

const { tocList } = Astro.props;

let query = [0, 0, 0, 0, 0, 0];
for (let tocItem of tocList) {
  query[tocItem.depth] += 1;
  for (let i = tocItem.depth + 1; i < query.length; i++) {
    query[i] = 0;
  }
  tocItem.text = `${query.slice(2, tocItem.depth + 1).join(".")}. ${
    tocItem.text
  }`;
}

// const tocHtml = generateNestedList(tocList);
---

<SideCard cardTitle="目录" cardLink="#">
  <div class="flex flex-col">
    {
      tocList.map((tocItem: TocItem) => (
        <a
          href={"#" + tocItem.slug}
          class:list={[
            `btn-plain hover:translate-x-1 overflow-ellipsis whitespace-nowrap overflow-hidden p-2 rounded-md select-none ml${
              tocItem.depth - 2
            }`,
          ]}
        >
          {tocItem.text}
        </a>
      ))
    }
  </div>
</SideCard>

<style>
.ml0 {
  margin-left: 0;
}
.ml1 {
  margin-left: 0.25rem;
}
.ml2 {
  margin-left: 0.5rem;
}
.ml3 {
  margin-left: 0.75rem;
}
.ml4 {
  margin-left: 1rem;
}
</style>