---
import { getCollection } from "astro:content";
import SideCard from "./SideCard.astro";
import { Icon } from "astro-icon/components";
const allPosts = await getCollection("post");
const tagsWithCount = allPosts.reduce((acc: Record<string, number>, post) => {
  post.data.tags.forEach((tag) => {
    if (acc[tag]) {
      acc[tag]++;
    } else {
      acc[tag] = 1;
    }
  });
  return acc;
}, {});
interface Props {
  showAll?: boolean;
}
const { showAll = false } = Astro.props;
const maxTags = showAll ? Object.keys(tagsWithCount).length : 9;
---

<SideCard cardTitle={showAll ? "标签" : "热门标签"} cardLink="/tags">
  <div class="flex flex-wrap gap-2 mt-1">
    {
      Object.keys(tagsWithCount)
        .slice(0, maxTags)
        .map((tag) => (
          <div class="inline-flex select-none items-center text-content hover:text-portage-300 transition text-sm">
            <Icon name="mingcute:hashtag-line" />
            <a href={`/tags/${tag}`}>{tag}</a>
          </div>
        ))
    }
  </div>
</SideCard>
