---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getSeo } from "@utils/SEO";
import NoteCard from "@comp/modules/Note/NoteCard.astro";
import getNoteContent from "@comp/modules/Note/getContent";

export const prerender = false;

const pageId = Astro.params.id;
if (pageId === undefined) {
  Astro.response.status = 404;
  return;
}

const { data, error, code } = await getNoteContent(pageId);

if (code !== 200) {
  Astro.response.status = code;
}
---

<BaseLayout
  seoConfig={getSeo({
    title: data?.meta.title ?? "An Error Occurred",
    type: "article",
    noindex: data === null,
  })}
  navStats="碎碎念"
>
  {/* eslint-disable-next-line @typescript-eslint/no-non-null-assertion */}
  {error ? <div>{error}</div> : <NoteCard pageContent={data!} />}
</BaseLayout>
