---
import { Icon } from "astro-icon/components";
import BaseLayout from "@layouts/BaseLayout.astro";
import NoteList from "@comp/modules/Note/NoteList.astro";

import { getSeo } from "@utils/SEO";

export const prerender = false;

const seo = getSeo({
  title: "Notes",
  description: "A collection of notes on various topics.",
  type: "website",
  noindex: true,
});
---

<BaseLayout seoConfig={seo}>
  <NoteList server:defer>
    <span slot="fallback" class="flex items-center">
      <Icon
        name="mingcute:loading-line"
        class="animate-spin animate-infinite"
      />Loading from Notion API, may be super slow...
    </span>
  </NoteList>
</BaseLayout>
