---
import { tv, type VariantProps } from "tailwind-variants";
import { card } from "@styles/tv";
interface Props {
  class?: string;
  style?: string;
  ui?: Partial<typeof card.slots>;
  padding?: VariantProps<typeof card>["padding"];
  useHeading?: boolean;
  useIndicator?: VariantProps<typeof card>["useIndicator"];
  headSize?: VariantProps<typeof card>["headSize"];
  leftExtraPadding?: VariantProps<typeof card>["leftExtraPadding"];
}

const {
  padding,
  useIndicator,
  headSize,
  useHeading,
  leftExtraPadding,
  ...props
} = Astro.props;

const ui = tv({ extend: card, slots: props.ui })({
  padding,
  headSize,
  useIndicator,
  leftExtraPadding,
});
---

<div class={ui.base({ class: props.class })} style={props.style}>
  {
    useHeading && (
      <div class={ui.heading()}>
        <slot name="heading" />
      </div>
    )
  }
  <slot />
</div>
