---
import { tvButton } from "@styles/tv";
interface Props {
  href: string;
  title: string;
}
const { href, title } = Astro.props;
---

<li class:list={["timeline-dot-item group", tvButton()]}>
  <a class="flex flex-col gap-1" href={href}>
    <slot name="title">
      <span
        class="truncate text-left text-sm text-heading transition group-hover:translate-x-1 md:text-base"
      >
        {title}
      </span>
    </slot>
    <slot />
  </a>
</li>
