---
import Section from "@/components/ui/section.astro";
import PostAttrTime from "@/components/modules/posts/post-attr-time.astro";
import PostAttrTags from "@/components/modules/posts/post-attr-tags.astro";
import type { ContentTimeData } from "@/content.config";

interface Props {
  title: string;
  time?: ContentTimeData;
  tags?: string[];
}

const { title, time, tags } = Astro.props;
---

<Section class="mx-auto flex flex-col center gap-6 py-24" padding="article">
  <h1 class="text-center text-3xl font-bold text-heading">{title}</h1>
  <div
    class="flex flex-col items-center gap-2 text-[0.8rem] text-comment md:flex-row lg:gap-3"
  >
    {time && <PostAttrTime {...time} />}
    {tags && <PostAttrTags tags={tags} />}
  </div>
</Section>
