---
import { getEntry } from "astro:content";
import { renderArticle, type ImageMetadata } from "@repo/markdown/article";
import MarkdownArticle from "@/components/markdown/markdown-article.astro";
import Toc from "./toc/Toc";
import ReadingProgress from "./reading-progress";

interface Props {
  text: string;
}

const { text } = Astro.props;
const imageMetaEntry = await getEntry("imageMeta", "image-meta");
const imageMetadata = (imageMetaEntry?.data.entries ?? []) as ImageMetadata[];
const { hast, outline } = await renderArticle(text, { imageMetadata });
---

<div class="border-b border-container">
  <div
    class="@container relative main-container grid h-full grid-cols-1"
    id="article-container"
  >
    <div class="pointer-events-none col-start-1 row-start-1">
      <ReadingProgress client:load client:only="react" />
    </div>

    <div class="pointer-events-none col-start-1 row-start-1">
      <Toc headings={outline} client:load client:only="react" />
    </div>

    <div class="col-start-1 row-start-1 px-4 py-18">
      <MarkdownArticle hast={hast} />
    </div>
  </div>
</div>
