---
import { markdownToHeadings } from "@repo/markdown/parse";
import MarkdownArticle from "@/components/markdown/markdown-article.astro";
import Toc from "./toc/Toc";

interface Props {
  text: string;
}

const { text } = Astro.props;
const headings = markdownToHeadings(text);
---

<div class="border-b border-container">
  <div class="@container relative main-container h-full">
    <div class="sticky top-[var(--navbar-height)] z-50">
      <div class="flex justify-end">
        <Toc headings={headings} client:load />
      </div>
    </div>
    <div class="px-4 py-18">
      <MarkdownArticle content={text} />
    </div>
  </div>
</div>
