---
import HomeBentoProjectItem from "./HomeBentoProjectItem.astro";
import Card from "@comp/ui/Card/Card.astro";
import { projects } from "@configs/author";
---

<Card class="relative sm:[grid-area:projects]">
  <div class="flex size-full flex-col gap-5 sm:flex-row lg:gap-4">
    <p
      class="flex-shrink-0 text-2xl font-semibold text-heading sm:text-center sm:[writing-mode:vertical-rl]"
    >
      项目
    </p>
    <div
      class="flex flex-grow flex-col gap-6 sm:flex-row sm:items-center sm:justify-evenly sm:gap-4"
    >
      {projects.map((project) => <HomeBentoProjectItem {...project} />)}
    </div>
  </div>
</Card>
