<body class="bg-fixed">
  <div class="mx-auto min-h-[calc(100vh-var(--navbar-top-margin))]">
    <slot />
  </div>
</body>

<style is:global>
  body {
    background-color: var(--bg-page);
    background-image: linear-gradient(
      to bottom right,
      oklch(from var(--bg-page) l c var(--primary-hue-gradient)),
      var(--bg-page)
    );
  }
</style>
