<body
  class="bg-fixed bg-gradient-to-br to-[var(--bg-page)]
    from-[oklch(from_var(--bg-page)_l_c_var(--primary-hue-gradient))]"
>
  <div class="w-full xl:max-w-6xl mx-auto min-h-screen p-4">
    <slot />
  </div>
</body>
