---
import Navbar from "@comp/modules/Navbar";
import Footer from "@comp/elements/Footer.astro";
import type { NavMenu } from "@configs/navbar";
interface Props {
  navStats?: NavMenu | string;
}
const { navStats } = Astro.props;
---

<body class="bg-fixed">
  <div
    class:list={[
      "container-max-lg mx-auto h-full min-h-screen p-[var(--edge-padding)]",
      "grid grid-cols-1 grid-rows-[auto_1fr_auto] place-items-center gap-4",
    ]}
  >
    <Navbar navStats={navStats} />
    <div class="w-full place-self-stretch">
      <slot />
    </div>
    <div class="w-full">
      <Footer />
    </div>
  </div>
</body>

<style>
  body {
    background-color: var(--bg-page);
    background-image: linear-gradient(
      to bottom right,
      oklch(from var(--bg-page) l c var(--primary-hue-gradient)),
      var(--bg-page)
    );
  }
</style>
