---
import { ViewTransitions } from 'astro:transitions';
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ThemeControl from "../components/ThemeControl.vue";
import Sidebar from "../components/Sidebar.astro";
import NavBar from "../components/NavBar.vue";
const { pageTitle } = Astro.props;
---

<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <ViewTransitions />
  </head>
  <body>
    <div
      class="flex flex-col m-auto max-w-sm md:max-w-md lg:max-w-5xl xl:max-w-6xl min-h-screen"
      style="grid-template-columns: 70% auto; grid-template-rows: min-content auto min-content;"
    >
      <div class="">
        <NavBar>
          <ThemeControl client:only slot="ThemeControl" />
        </NavBar>
      </div>
      <div class="mt-4 flex flex-col lg:flex-row">
        <div class="lg:w-3/4 lg:mr-4">
          <slot />
        </div>
        <div class="lg:w-1/4">
          <Sidebar />
        </div>
      </div>
      <div class="">
        <Footer />
      </div>
    </div>
  </body>
</html>
