---
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
import SideBar from "../components/sidebar/SideBar.astro";
import Navbar from "../components/Navbar.astro";
import { SEO } from "astro-seo";
import "../styles/base.css"
import { type TocItem, type SeoConfig } from "../config";
interface Props {
  tocList?: TocItem[];
  seriesID?: string;
  seoConfig: SeoConfig;
  stopTrack?: boolean;
}
const { tocList,seriesID, seoConfig, stopTrack } = Astro.props;
---

<html lang="zh-cn" class="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon.png" sizes="256x256" />
    <link rel="icon" type="image/png" href="/favicon-sm.png" sizes="64x64" />
    {
      import.meta.env.PROD && !stopTrack ? (
        <>
          <script
            async
            src="https://analy.yfi.moe/script.js"
            data-website-id="3c89f8f6-9432-4ceb-a404-f22f2b0cf94d"
          />
          <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-1MPEY5XJ9V"
          />
        </>
      ) : (
        ""
      )
    }
    <SEO
      {...seoConfig}
      titleTemplate="%s - Yunfi's blog"
      titleDefault="Yunfi's Blog"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
  </head>
  <body
    class="bg-[oklch(0.95_0.01_280)] dark:bg-[oklch(16%_0.014_280)] transition"
  >
    <div class="w-[calc(100%-2rem)] xl:max-w-6xl mx-auto min-h-screen">
      <div class="grid w-full
      grid-cols-1 lg:grid-cols-[75%_25%]">
        <nav class="lg:col-span-2 mb-4">
          <Navbar />
        </nav>

        <div class="mb-4 lg:mr-4">
          <slot />
        </div>
        <aside class="mb-4 mx-4 lg:mx-0">
          <SideBar tocList={tocList} seriesID={seriesID} />
        </aside>

        <div class="lg:col-span-2">
          <Footer />
        </div>
      </div>
    </div>
  </body>
</html>
