---
import Footer from "@comp/Footer.astro";
import SideBar from "@comp/sidebar/SideBar.astro";
import Navbar from "@comp/navbar/Navbar.astro";
import HeadTag from "@layouts/HeadTag.astro";
import type { SEOProps } from "astro-seo";
import { type NavMenu } from "@config";
interface Props {
  seoConfig: SEOProps;
  stopTrack?: boolean;
  navStats?: NavMenu | string;
}
const { seoConfig, stopTrack, navStats } = Astro.props;
---

<HeadTag seoConfig={seoConfig} stopTrack={stopTrack}>
  <div
    class="bg-gradient-to-br via-violet-100 from-portage-100 to-pink-100
      dark:bg-gradient-to-br dark:from-gray-950 dark:to-slate-900"
  >
    <div class="w-full xl:max-w-6xl mx-auto min-h-screen p-4">
      <div class="grid w-full
      grid-cols-1 lg:grid-cols-[75%_25%]">
        <nav class="lg:col-span-2 mb-4" transition:name="nav-bar">
          <Navbar navStats={navStats} />
        </nav>

        <div class="mb-4 lg:mr-4">
          <slot />
        </div>
        <aside class="mb-4">
          <slot name="sidebar">
            <SideBar />
          </slot>
        </aside>

        <footer class="lg:col-span-2">
          <Footer />
        </footer>
      </div>
    </div>
  </div>
</HeadTag>
