---
import Footer from "@comp/Footer.astro";
import HeadTag from "@layouts/HeadTag.astro";
import type { SEOProps } from "astro-seo";
import { type NavMenu } from "@config";
import BaseBody from "./BaseBody.astro";
interface Props {
  seoConfig: SEOProps;
  stopTrack?: boolean;
  navStats?: NavMenu | string;
}
const { seoConfig, stopTrack, navStats } = Astro.props;
---

<HeadTag seoConfig={seoConfig} stopTrack={stopTrack}>
  <BaseBody>
    <div class="grid w-full
      grid-cols-1 lg:grid-cols-[70%_30%]">
      <nav class="lg:col-span-2 mb-4" transition:name="nav-bar" transition:animate="initial">
        <Navbar navStats={navStats} />
      </nav>

      <div class="mb-4 lg:mr-4">
        <slot />
      </div>
      <aside class="mb-4">
        <slot name="sidebar">
          <SideBar />
        </slot>
      </aside>

      <footer class="lg:col-span-2">
        <Footer />
      </footer>
    </div>
  </BaseBody>
</HeadTag>
