---
import Footer from "../components/Footer.astro";
import SideBar from "../components/sidebar/SideBar.astro";
import Navbar from "../components/navbar/Navbar.astro";
import HeadTag from "./HeadTag.astro";
import { type SeoConfig } from "../config";
interface Props {
  seoConfig: SeoConfig;
  stopTrack?: boolean;
}
const { seoConfig, stopTrack } = Astro.props;
---

<HeadTag seoConfig={seoConfig} stopTrack={stopTrack}>
  <div class="bg-gradient-to-br via-violet-100 from-portage-100 to-pink-100 dark:(bg-gradient-to-br from-gray-950 to-slate-900)">
    <div class="w-[calc(100%-2rem)] xl:max-w-6xl mx-auto min-h-screen">
      <div class="grid w-full
      grid-cols-1 lg:grid-cols-[75%_25%]">
        <nav class="lg:col-span-2 mb-4">
          <Navbar />
        </nav>

        <div class="mb-4 lg:mr-4">
          <slot />
        </div>
        <aside class="mb-4">
          <slot name="sidebar">
            <SideBar />
          </slot>
        </aside>

        <footer class="lg:col-span-2">
          <Footer />
        </footer>
      </div>
    </div>
  </div>
</HeadTag>
