<div
  class="bg-gradient-to-br via-violet-100 from-portage-100 to-pink-100
    dark:bg-gradient-to-br dark:from-gray-950 dark:to-slate-900 bg-fixed"
>
  <div class="w-full xl:max-w-6xl mx-auto min-h-screen p-4">
    <slot />
  </div>
</div>
