---
import Footer from "@comp/Footer.astro";
import Navbar from "@comp/navbar/Navbar.astro";
import HeadTag from "@layouts/HeadTag.astro";
import BaseBody from "@layouts/BaseBody.astro";
import { type SEOProps } from "astro-seo";
import { type NavMenu } from "@config";
interface Props {
  seoConfig: SEOProps;
  stopTrack?: boolean;
  navStats?: NavMenu | string;
}
const { seoConfig, stopTrack, navStats } = Astro.props;
---

<HeadTag seoConfig={seoConfig} stopTrack={stopTrack}>
  <BaseBody>
    <div class="w-full space-y-4">
      <nav class="mb-4" transition:name="nav-bar">
        <Navbar navStats={navStats} />
      </nav>

      <slot />

      <footer>
        <Footer />
      </footer>
    </div>
  </BaseBody>
</HeadTag>
