---
import Footer from "../components/Footer.astro";
import SideBar from "../components/sidebar/SideBar.astro";
import Navbar from "../components/navbar/Navbar.astro";
import HeadTag from "./HeadTag.astro";
import { type SeoConfig } from "../config";
interface Props {
  seoConfig: SeoConfig;
  stopTrack?: boolean;
}
const { seoConfig, stopTrack } = Astro.props;
---

<HeadTag seoConfig={seoConfig} stopTrack={stopTrack}>
  <div class="bg-gradient-to-br via-violet-100 from-portage-100 to-pink-100 dark:(bg-gradient-to-br from-gray-950 to-slate-900)">
    <div class="w-[calc(100%-2rem)] xl:max-w-6xl mx-auto min-h-screen">
      <div class="w-full space-y-4">
        <nav class="mb-4">
          <Navbar />
        </nav>

        <slot />

        <footer>
          <Footer />
        </footer>
      </div>
    </div>
  </div>
</HeadTag>
