---
import AuthorCard from '../components/sidebar/author.astro'
import Tags from '../components/sidebar/tags.astro'
---
<div class="sidebar-container flex flex-col">
    <AuthorCard />
    <Tags />
</div>