---
import { type CollectionEntry } from "astro:content";
import { Icon } from "astro-icon/components";
import { DateTime } from "luxon";
import { TooltipTime } from "@comp/ui/Tooltip";
interface Props {
  post: CollectionEntry<"post">;
}
const { post } = Astro.props;
---

<div
  class="flex h-4 max-w-full items-center gap-2 text-xs text-comment lg:gap-3"
>
  <div class="h-full flex-shrink-0">
    <TooltipTime
      postTime={DateTime.fromJSDate(post.data.date).toFormat("MM-dd")}
      updatedTime={DateTime.fromJSDate(post.data.updated).toFormat("MM-dd")}
      client:load
    >
      <div class="flex h-full items-center select-none">
        <Icon name="mingcute:calendar-line" class="mr-1 text-base" />
        {DateTime.fromJSDate(post.data.date).toFormat("MM-dd")}
      </div>
    </TooltipTime>
  </div>

  <!-- Tags -->
  {
    post.data?.tags instanceof Array && (
      <div class="flex flex-shrink items-center justify-start overflow-hidden select-none">
        <Icon name="mingcute:hashtag-line" class="mr-1 text-base" />
        <span class="truncate">{post.data.tags.join(" | ")}</span>
      </div>
    )
  }
</div>
