---
import SideCard from "./SideCard.astro";
import type { MarkdownHeading } from "astro";

interface Props {
  tocList: MarkdownHeading[];
}

const { tocList } = Astro.props;

// let query = [0, 0, 0, 0, 0, 0];
// for (let tocItem of tocList) {
//   query[tocItem.depth] += 1;
//   for (let i = tocItem.depth + 1; i < query.length; i++) {
//     query[i] = 0;
//   }
//   tocItem.text = `${query.slice(2, tocItem.depth + 1).join(".")}. ${
//     tocItem.text
//   }`;
// }
---

<SideCard cardTitle="目录" cardLink="#">
  <div class="first:pt-0 last:pb-0 flex flex-col text-sm">
    {
      tocList.map((tocItem) => (
        <a
          href={"#" + tocItem.slug}
          class:list={[
            `btn-plain hover:translate-x-1 text-ellipsis whitespace-nowrap overflow-hidden p-2 rounded-md select-none`,
          ]}
          style={`margin-left: calc(0.75rem * ${tocItem.depth - 2});`}
        >
          {tocItem.text}
        </a>
      ))
    }
  </div>
</SideCard>
