---
import AuthorCard from "./SideCardAuthor.astro";
import SideCardRecent from "./SideCardRecent.astro";
import Tags from "./SideCardTags.astro";
// import SideCardToc from "./SideCardToc.astro";
import SideCardSeries from "./SideCardSeries.astro";
import TocMobile from "./SideCardToc.vue";
import type { MarkdownHeading } from "astro";
interface Props {
  tocList?: MarkdownHeading[];
  seriesID?: string;
}
const { tocList, seriesID } = Astro.props;
---

<div class="flex flex-col gap-4 mb-4">
  <AuthorCard />
  <Tags />
</div>
<div class="flex flex-col gap-4 sticky top-4">
  {seriesID && <SideCardSeries id={seriesID} />}
  <!-- {tocList && <SideCardToc tocList={tocList} />} -->
  {tocList && <TocMobile client:load headings={tocList} />}
  <SideCardRecent />
</div>
