---
import Card from "@comp/ui/Card/Card.astro";
interface Props {
  cardTitle: string;
  cardLink: string;
}
const { cardTitle, cardLink } = Astro.props;
---

<Card class="w-full" useHeading leftExtraPadding padding="xs">
  <a
    href={cardLink}
    slot="heading"
    class="mb-2 block transition-[color] hover:text-primary"
  >
    <h5>
      {cardTitle}
    </h5>
  </a>
  <slot />
</Card>
