---
import SideCard from "./SideCard.astro";
import { getSortedPosts } from "@utils/content";
const allPosts = await getSortedPosts();
const recentPosts = allPosts.slice(0, 5);
---

<SideCard cardTitle="最近文章" cardLink="/achieve">
  <ul class="flex flex-col">
    {
      recentPosts.map((entry) => (
        <li class="btn-plain group rounded-md !py-[6px]">
          <a
            href={getPostPath(entry)}
            class="select-none text-sm line-clamp-2 group-hover:translate-x-1 transition-transform"
          >
            {entry.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</SideCard>
