---
import SideCardToc from "./SideCardToc.astro";
import type { MarkdownHeading } from "astro";
interface Props {
  headings: MarkdownHeading[];
}
const { headings } = Astro.props;
---

<div
  class="hidden z-50 fixed right-6 rounded-lg bottom-18 border dark:border-gray-700
  animate-in slide-in-r"
  id="mobile-toc"
>
  <SideCardToc tocList={headings} />
</div>
<button
  class="fixed bottom-8 right-8 z-10 lg:hidden rounded-full p-2
    shadow-lg text-heading
    active:scale-90 transition duration-75
    bg-white dark:bg-gray-800 bg-opacity-90
    ring-3 ring-gray-200 dark:ring-gray-600"
  id="mobile-toc-btn"
>
  <Icon name="mingcute:list-check-fill" />
</button>
<div
  class="fixed top-0 bottom-0 left-0 right-0 bg-transparent hidden z-40"
  id="mobile-toc-bg"
>
</div>

<script>
  function setup() {
    const tocBtn = document.getElementById("mobile-toc-btn");
    const tocCard = document.getElementById("mobile-toc");
    const tocBg = document.getElementById("mobile-toc-bg");
    if (!tocBtn || !tocCard || !tocBg) return;
    tocBtn.addEventListener("click", () => {
      if (tocCard.classList.contains("hidden")) {
        tocCard.classList.remove("hidden");
        tocBg.classList.remove("hidden");
      }
    });
    function eventListener() {
      tocCard?.classList.remove("hide");
      tocBg?.classList.remove("hide-bg");
      if (!tocCard?.classList.contains("hidden")) {
        tocCard?.classList.add("hidden");
        tocBg?.classList.add("hidden");
      }
      tocCard?.removeEventListener("animationend", eventListener, false);
    }
    tocBg?.addEventListener("click", () => {
      tocCard.classList.add("hide");
      tocBg.classList.add("hide-bg");
      tocCard.addEventListener("animationend", eventListener, false);
    });
  }
  document.addEventListener(
    "astro:page-load",
    () => {
      setup();
    },
    { once: false },
  );
</script>

<style>
  /* .hide-bg {
    @apply animate-out fade-out;
  }
  .hide {
    @apply !animate-out !slide-out-r;
  } */
  /* !TODO */
</style>
