---
import { interval } from "./CompactEntryList.astro";
interface Props {
  year: string;
  order: number;
  animated?: boolean;
}
const { year, order, animated = true } = Astro.props;
---

<div
  class:list={[
    "pointer-events-none relative h-12 select-none sm:h-20",
    animated && "animate-onload opacity-0",
  ]}
  style={`animation-delay: ${order * 2 * interval}ms;`}
>
  {/* https://stackoverflow.com/a/73146972 */}
  <span
    class="absolute -left-4 top-4 text-8xl font-bold leading-none text-transparent opacity-10 [-webkit-text-stroke:4px_theme('colors.content.200')] sm:text-[9rem]"
  >
    {year}
    <span
      class="pointer-events-none absolute left-0 text-card [-webkit-text-stroke:0]"
    >
      {year}
    </span>
  </span>
</div>
<ul
  class:list={[
    "timeline-dot -ml-3 flex flex-col md:ml-0",
    animated && "animate-onload opacity-0",
  ]}
  style={`animation-delay: ${(order * 2 + 1) * interval}ms;`}
>
  <slot />
</ul>

<style is:global>
  /* TODO: temp workaround for tailwind v4 beta, https://github.com/tailwindlabs/tailwindcss/issues/15219 */
  @import "tailwindcss/theme" theme(reference);
  @import "../../../styles/theme.css" theme(reference);

  .timeline-dot > li.timeline-dot-item {
    @apply relative pl-6;
    &::after {
      content: "";
      @apply absolute left-2 top-1/2 z-10 size-2 -translate-y-1/2 rounded-full bg-content-50 outline outline-2 outline-card transition-all hover:left-2.5 hover:h-5 hover:w-1 hover:bg-primary hover:outline-none;
    }
    &::before {
      content: "";
      @apply pointer-events-none absolute left-[calc(1.5rem/2-1px)] top-1/2 h-[calc(100%)] -translate-y-1/2 border-l-[2px] border-content-50 opacity-30 transition;
    }
    &:first-child::before {
      @apply top-1/2 h-[calc(50%)] translate-y-0;
    }
    &:last-child::before {
      @apply bottom-1/2 top-[unset] h-[calc(50%)] translate-y-0;
    }
  }
</style>
