@utility prose {
  --link-underline-color: --alpha(var(--color-zinc-900) / 0.4);
  --link-underline-color-hover: --alpha(var(--color-zinc-900) / 0.6);
  --link-underline-color-active: --alpha(var(--color-zinc-900) / 0.8);
}

@utility prose-invert {
  --link-underline-color: --alpha(var(--color-zinc-100) / 0.5);
  --link-underline-color-hover: --alpha(var(--color-zinc-100) / 0.6);
  --link-underline-color-active: --alpha(var(--color-zinc-100) / 0.8);
}

@utility prose {
  max-width: var(--prose-max-width);

  :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    text-decoration: none;
    border-bottom: 2px solid var(--link-underline-color);
    transition: all 0.15s ease-in-out;
    &:hover {
      color: var(--color-accent-foreground);
      border-bottom: 2px solid var(--link-underline-color-hover);
    }
    &:active {
      border-bottom: 2px solid var(--link-underline-color-active);
    }
    & > img {
      margin-top: --spacing(2) !important;
      margin-bottom: --spacing(2) !important;
    }
  }
  *:not(pre) > code {
    white-space: pre-wrap;
    word-break: break-word;
  }
  blockquote {
    font-weight: inherit;
    font-style: normal;
    p {
      &:first-of-type::before {
        content: none;
      }
      &:last-of-type::after {
        content: none;
      }
    }
  }
}

@layer utilities {
  :root {
    --prose-max-width: 40em;
  }
  .max-w-prose {
    max-width: var(--prose-max-width) !important;
  }
}
